[2017-02-02 10:26] AndrewArch opened #1 "Disclaimer"
@maryjom suggests: Can disclaimer go to the bottom?

Draft text:

[2017-02-02 10:32] AndrewArch opened #2 "Law vs Legislation"
@maryjom said: Comment received that these are used interchangeably in countries outside of the U.S. Not sure if that is because people don't understand the difference or if there really is no difference in the definition in other countries.

Legislation – A law that is in the process of becoming a law, commonly referred to as proposed legislation.

[2017-02-02 10:34] AndrewArch commented on #2
This is the case in Australia – same thing.

Also, from [Wikipedia](https://en.wikipedia.org/wiki/Legislation))

[2017-02-02 10:43] AndrewArch opened #3 "Definitions - public sector"
Some [organizations in the public sector] do [seek to generate a profit] in Australia – eg the Government owned Australia Post. In Australia we have ‘corporate’ and ‘non-corporate’ government entities as well as Commonwealth companies. Refer [PGPA Act 2013](http://www.finance.gov.au/resource-management/pgpa-act/)

@maryjom drafted:

[2017-02-02 10:45] AndrewArch opened #4 "Definitions - private sector"
Should we split this into 'for-profit' an 'not-for-profit'?

@maryjom drafted:

[2017-02-02 10:49] AndrewArch opened #5 "Summary table - scope column"
@maryjom suggested: need to add 'Scope' column per Andrew’s comment in 23/Sept meeting.

_me_: this column would reflect which sectors the 'policy' applies to, eg Govt only,

[2017-02-02 10:50] AndrewArch opened #6 "Summary table - status"
@maryjom asked: How do we indicate difference between Law on books vs. adopted by EU member states vs. enforced with a standard in place?

[2017-02-02 10:52] AndrewArch commented on #6
Also, 'policies' in preparation / proposed such as the Australian adoption of the European EN301549

[2017-02-02 10:55] AndrewArch opened #7 "'new'/'updated' indicator"
@maryjom said:
- I still like the idea of an update icon here. It can be programmatically added [o each entry] if the last updated date is less than 3 months from the current date and is not too attention grabbing.  Looking at actual dates cause more cognitive power, and an icon makes it easier to skim.
- Also, not sure how long we’d want a “new” or “update” icon to appear.  Maybe only for a month

[2017-02-02 10:58] AndrewArch opened #8 "non-legally binding policies/strategies"
How to handle non-legally binding policies / strategies / standards?

@maryjom said: [in relation to the Australian [NTS](http://www.finance.gov.au/publications/wcag-2-implementation/) and [Digital Service Standard](https://www.dto.gov.au/standard/9-make-it-accessible/)] These aren’t really required by this law [Australia's Disability Discrimination Act], but the government does have a policy to m

[2017-02-02 11:13] AndrewArch opened #9 "Responsible body"
@maryjom suggests: Pick word applicable to that country. U.S. says “Agency”, other countries seem to say “Ministry”

[2017-02-02 11:20] AndrewArch commented on #9
In Australia we generally have Departments and Agencies, Eg Dept of Finance or Attorney-General’s Department _and_ Digital Transformation Agency.

[2017-02-02 11:21] AndrewArch opened #10 "level of detail to include"
@maryjom : Only add relevant links to the text of the law, legislation and/or rule(s)/standard(s) that provide the basis and specific guidance for complying with the web accessibility regulation.

@maryjom : I would prefer not to have an additional information part. We could potentially have the following additional  information per country, though these aren’t just Web accessibility related:
 Dig

[2017-02-03 13:49] yatil commented on #7
* +1 to flag new
* +1 for a specified time
* I think we might also want “upcoming” for laws that will come into power in, say, like three months
* Do we want to keep superseded laws (for archival purposes, probably deeply buried, not prominent)

[2017-02-03 13:50] dboudreau opened #11 "Confusing navigation pattern for collapsible details on laws/legislations"
I think it's very confusing to rely on the small right-pointing arrow to indicate the presence of additional details for any given law/legislation under a country. The country itself has a regular bullet which is not clickable, yet the links underneath have what seems to be bullets (the arrows), but those are clickable to expand the section. When one clicks or triggers the links themselves however

[2017-02-03 13:53] yatil commented on #10
I wonder if “Digital accessibility strategy for the country” is easily determined and can be captured in this document. We don’t want to interpret what countries are doing.

[2017-02-03 14:02] yatil commented on #11
This is a prototype, we use the standard HTML5 details element for prototyping reasons. We don’t know how disclosures look in the new design, so we didn’t implement that. Please don’t comment on UI yet :-)

[2017-02-03 14:02] #11 closed

[2017-02-08 17:36] nitedog commented on #1
Or collapsible or in the left navigation bar (as in the [tools list](https://www.w3.org/WAI/ER/tools/)).

[2017-02-08 17:42] nitedog opened #12 "Status and Updates too wordy"
1. "Last updated" could be a single line, no need for a full sentence. Actually, we might have "last updated" for every entry as it is ambiguous on the page level.
2. We should have a button/link to an input form for updates, like we have on the [tools list](https://www.w3.org/WAI/ER/tools/). Maybe also here have an additional link for every item that would pre-fill the form for easier updating

[2017-02-08 17:44] nitedog opened #13 "Introduction too wordy"
Think the first paragraph and last bullet-list in this section could be safely dropped. If needed the first paragraph could be made collapsible under a different heading, like "background" - people probably do not want/need to read this every time. The remaining paragraph + sentence in this section could be made more succinct too.

[2017-02-08 17:46] nitedog opened #14 "Terminology in the way"
I suggest putting the Terminology section at the end of the document (and possibly link to it from the top if needed), *or* make it collapsible. People probably do not want/need to read it every time.

[2017-02-08 17:48] nitedog opened #15 "better differentiate in-page vs external links"
In the table it is not immediately clear what links down within the page and what takes you to another page.

[2017-02-08 17:51] nitedog opened #16 "heading with expand/collapse and external link"
I wanted to expand the section and noticed that the heading was a link, so i clicked it - but instead of expanding the section it took me to a different page. Not sure how to address that - either clearer expand/collapse toggles and link or a different approach altogether?

[2017-02-08 20:11] bakkenb commented on #12
Agree with Shadi on the first point here. If I see that there was a new 'last updated' date since I last visited, I would have no idea of <b>what content</b> was last updated. It would be nice to know if a specific country or state/province was updated, and would be more relevant to what information I am looking for.

Maybe the paragraph could work better this way:

[2017-02-08 20:17] bakkenb commented on #13
Agree with all recommendations from Shadi. Would like to know from Mary Jo however, what was her rationale for including the first paragraph.

Agree that this could be written more succinctly.

[2017-02-08 20:22] bakkenb commented on #14
Agree that it works better on the bottom. Could it be linked too like we do in the W3C Understandings documents? [Example](https://www.w3.org/TR/UNDERSTANDING-WCAG20/media-equiv-av-only-alt.html)
Or will that seem like more links to other resources rather than an anchor to the glossary/terminology?

[2017-02-08 20:24] bakkenb commented on #15
Eric, will this be handled with the future stylizing and functionality development? Could anchor links be styled so that the difference is evident?

[2017-02-08 20:28] bakkenb commented on #1
I think the disclaimer is important enough to stay near the top. Could be put in a side bar. In the new re-design, I think it would be in a right hand side call out or sidebar as the left side may be reserved for sub-navigation only. All still yet to be determined.

My preference is to keep this up higher on the page.

[2017-02-08 20:33] bakkenb commented on #2
Whether they are truly have different meanings or not (seems like it depends on the county), I think people use them interchangeably. Can WE use them interchangeably? That may determine the usage.

[2017-02-08 22:50] bakkenb commented on #5
I see the scope column has been added to the [prototype](https://w3c.github.io/wai-policies-prototype/).

Some people mentioned that we want to be careful not to add too much data in the table so that it does not become overwhelming to use, sort, and consume. Not sure what columns should be kept or removed at this point. What do others think about this?

[2017-02-08 22:54] bakkenb commented on #7
+1 for "new" and "updated" flag. Vote for 3 months and then the flags expire.

[2017-02-08 23:01] bakkenb commented on #9
Do we pick this word (wording) or do we just use the words that are input by the user? I am not sure what the question or issue is here. More explanation please.

[2017-02-08 23:06] bakkenb commented on #10
Would like to see the [prototype](https://w3c.github.io/wai-policies-prototype/) updated with the level of detail in the countries that was put in the Word document proposal. This will help me react to the level of detail that is on the page. So far I am okay with the level of detail displayed in the Word doc proposal by Mary Jo. (I don't do a lot of work where I need to look up country policies,

[2017-02-08 23:38] iamjolly commented on #10
@bakkenb :: I can work on getting the prototype updated with all of the data from the Word document this week (before our call on Friday) so that the page will be more reflective of the full contents.

[2017-02-08 23:41] bakkenb commented on #10
Thanks @iamjolly! Really appreciate that.

[2017-02-09 00:12] yatil commented on #10
Hi @bakkenb & @iamjolly – I think I have included all fields that are in the word document… have I missed some? (You can expand the different laws.)

If you want different entries (for different countries), I think Robert can easily do that. :-)

[2017-02-09 08:58] nitedog commented on #13
I believe this is just a carry-over from the current page - not wording from MaryJo.

[2017-02-09 19:45] sharronrush commented on #5
All seem useful and important to me except for the Wen Only question. I think that could go in supporting materials

[2017-02-09 19:46] sharronrush commented on #6
Isn't that exactly what the 'status' column does? Or is there another level of adoption/enforcement to be indicated?

[2017-02-09 19:49] sharronrush commented on #7
Archived history of laws that have been superseded seem necessary to me, but if others think important, could create a "History" section in supporting material outside of the table.

[2017-02-09 19:50] sharronrush commented on #8
would this not be indicated in Status column by indicating Policy rather than Legally Mandated

[2017-02-09 22:40] slhenry commented on #1
As you know, I'm generally big on disclaimers to cover our... bases. However, I think much of this is pretty obvious. I support it being less intrusive &mdash; in a sidebar &/or collapsed by default. I think it probably probably stay near the top, not go to the bottom, since this page will be very long.

Note: Anna Belle says she looks for disclaimer in footer areas, and she pushed strongly for a

[2017-02-09 22:41] slhenry commented on #2
@brewerj - thoughts on above?

[2017-02-09 22:44] slhenry commented on #3
I also stumbled on these distinctions. I wonder if "governmental" and "public" would work?

@brewerj & @nitedog - Thoughts?

@AndrewArch - Do you want to suggest revised categories and explanations for Public sector and Private sector? ;-)

[2017-02-09 22:45] slhenry commented on #4
That was my first reaction; however, in the policy context, I don't think the distinction is relevant.

[2017-02-09 22:47] slhenry commented on #5
I'm one who wants to keep the table simple -- however, I can see the case for users wanting to filter &/or sort for this info -- so probably good to leave in the table.

[2017-02-09 22:48] slhenry commented on #6
+1 to Sharron

[2017-02-09 22:57] slhenry commented on #7
I'm wondering about the usability and usefulness -- particularly, how many users would find the update icon useful. I'm concerned that it will be too distracting (especially for those of us whose attention gets sucked in by graphics :).

Also, we would need to explain that the icon indicates when info on this page was updated, not when the policy itself was updated. So that would require more text

[2017-02-09 22:58] sharronrush commented on #7
@slhenry well you know me an icons. I find few of them useful so I always defer to those who want them. I think the notification alert is great and am indifferent to the 'new' flag

[2017-02-09 23:00] slhenry commented on #7
**History:**
I think this is low priority. Would be nice to have, but not worth dealing with it now. (Agree with Sharron, it would need to be clearly indicated.)

[2017-02-09 23:02] slhenry commented on #8
Agree that it would be good to clearly indicate non-legally binding, verses legally-binding. Perhaps @brewerj  and @nitedog have suggestions for wording...

[2017-02-09 23:03] slhenry commented on #9
I think we'll need multiple words to cover most cases.

[2017-02-09 23:07] slhenry commented on #10
Agree that we want to limit the amount of additional info we include. However, there may be some cases where that is extremely helpful -- e.g., an agency/ministry provides a supporting doc that really clarifies a complicatedly-worded regulation.

Note that we want to include only "official" documents, and not include unofficial commentaries and interpretations. We will need to say this in the subm

[2017-02-09 23:08] yatil commented on #7
Question is what we think as an “icon”. for me we could just mark it with “(new)” or “(updated)” – I think it builds trust that the information is current and updated.

I don’t feel strongly.

[2017-02-09 23:08] yatil commented on #7
(The implementation is trivial, btw.)

[2017-02-09 23:09] slhenry commented on #12
Agree to delete "This page was updated on 03 Feb 2017 and will be updated on a regular basis as new information is received."

See also https://github.com/w3c/wai-policies-prototype/issues/7

[2017-02-09 23:10] slhenry commented on #7
I think we will need for each section a "Last updated" date.

[2017-02-09 23:11] slhenry commented on #13
+1

[2017-02-09 23:12] slhenry commented on #14
This is a *huge* page so at the bottom will be hard to find. Maybe a sidebar &/or collapsible.

[2017-02-09 23:22] yatil commented on #7
@slhenry What do you mean with “each section”? Each policy has its own updated date.

[2017-02-09 23:45] maryjom commented on #13
@nitedog Yes, I carried over the front matter from the current page and edited it down for length and to update content only. That's why I had brought that up to the group to query if we could get rid of it, move it to the bottom or what to do to reduce the space taken by stuff that is not the real purpose of the content on the page.

[2017-02-10 04:54] iamjolly commented on #10
@AndrewArch @yatil @bakken @slhenry @maryjom  - I have added Canada, China, and European Union (for now) and I'm sure there are some typos and changes that will need to be made in future updates. This should start to show the table growing as well as offer a glimpse at the page's overall content length. It will be bigger once all of the info from the proposal document is added.

[2017-02-10 10:15] yatil commented on #16
This is a known problem in this prototype. This prototype is for prototyping only. The final expand/collapse will work differently. I’m never the less separating the link from the title to make it easier to click.

[2017-02-10 10:17] #16 closed

[2017-02-10 10:19] yatil commented on #15
Yes. This is a prototype. We always mark external links and that style will also be used with this page.

[2017-02-10 10:24] yatil commented on #14
I think this could even go on a separate “Help” page (or collapsible). It is information that you probably only need to read once or refer back occasionally.

However it would be good if we could boil the terminology down so that it can be easily understood, while at the same time not misrepresenting the legalese.

[2017-02-10 10:26] yatil commented on #13
I think if we can get rid of it, let’s get rid of it – if we have the structure and content organization on the page right, it might be obvious.

“UI is like a joke – if you have to explain it, it’s not so good.”

[2017-02-10 10:28] yatil commented on #12
You can make edits to the texts here: https://github.com/w3c/wai-policies-prototype/tree/gh-pages/_help

[2017-02-10 10:29] yatil commented on #12
@nitedog I’ll put your point number 2 into a separate issue so it is easier to follow.

[2017-02-10 10:29] yatil opened #18 "Button for Submitting new entries"
From @nitedog in #12:

[2017-02-10 10:31] yatil commented on #18
Yes, we certainly need this somewhere on the page. I have not put a lot of thought into how policies would be submitted. If we stay with the technology of the prototype – and it looks like that – we might want to look into a form -> submit -> Github Pull Request workflow using the Github API. I’ll put that on my list to research.

[2017-02-10 10:37] yatil commented on #9
Can’t we say something like “Issuer”? (Is a law issued? I have no idea…) For example:

* Issuer: Dept of Finance
* Issuer: Attorney-General’s Department and Digital Transformation Agency
* Issuer: Bundesministerium für Arbeit und Soziales

As the type of Agency is in its name, this should be sufficient. In Germany, having “Ministry” and then “Arbeit und Soziales” would not work as there are federa

[2017-02-10 10:40] yatil commented on #5
We can show/hide certain columns of a table – which brings UI complexity (we can handle that), but it would also require us to find out which data to present by default and what columns we want to put into the table.

[2017-02-10 10:42] yatil commented on #4
This is a hard one anyway. In Austria, for example, the accessibility law applies to the private sector but only if they have consumer as clients, not for B2B stuff. Accessibility at the workplace is covered by another law and encompasses both B2C and B2B.

Laws are complex.

[2017-02-10 10:44] yatil commented on #2
We should probably be explicit and say “Law” and “Proposed Legislation” (for me “Proposed Law” would also be OK – but I am not a lawyer), as well as “Policy” and “Proposed Policy”.

[2017-02-10 10:50] yatil commented on #1
Maybe we can reword and keep it on the top as a (bold?) 1-3 sentence paragraph:

[2017-02-10 12:44] AndrewArch commented on #1
@slhenry on this occasion I agree that keeping it near the top is important. I do like the added suggestion of a link in the footer (if that will be a footer feature or option in the redesign)

+1 to the abbreviated version by @yatil - much sharper. My edit pass:

[2017-02-10 12:53] AndrewArch commented on #18
@yatil that approach sounds neat :)

[2017-02-10 12:55] nitedog commented on #1
I agree to the shorter and sharper text, and to linking to it from the footer. I add to this discussion the suggestion to link to the text from the top too, and recommend that we put the in a side bar (left or right, as needed). At the very least make it collapsible. I don't see this any different to the disclaimer of the tools list in terms of potential confusion and need to have it prominent.

[2017-02-10 12:57] AndrewArch commented on #14
Definitely something that doesn't want to be read every time (if at all by some). I like the idea of 'help' or 'using this page' or similar that talks about the structure too - and maybe as a separate page?

[2017-02-10 12:58] nitedog commented on #18
Is there anyway to reuse an existing system that we already have, like the tools list or the components list? Creating and maintaining yet another system seems superfluous. Ideally all three would eventually end up using the same approach to reduce maintenance overhead.

[2017-02-10 13:01] AndrewArch commented on #13
seems partly related to #14 - possibly consider to group with the terminology and any other background on a separate 'help' or 'about' sub-page

[2017-02-10 13:23] yatil commented on #18
@nitedog I’m happy to talk about the problems I see with the approach of the Tools list (mainly related to vetting). When we figure this out (should be _relatively_ simple*) we can retroactively use it for the Tools list as well, as they use almost the same approaches.

*Yes, there I said it. When will I ever learn ;-)

[2017-02-10 13:26] nitedog commented on #18
I'm curious to hear more about your new approach when you do the research - hope it could be useful for the components list too?

[2017-02-10 13:30] yatil commented on #18
@nitedog As the components list uses WordPress, it is unlikely. However that might change if my masterplan works out… (I suggest discussing this separately :-D)

[2017-02-10 13:38] slhenry commented on #5
/me thinks probably not worth the added complexity of show/hide columns - but don't feel strongly at this point (without seeing it)

[2017-02-10 13:42] slhenry commented on #13
I like the idea of putting things together, but prefer collapsible &/or side bar, rather than separate sub-page. (Like on [WCAG-EM Report Tool](https://www.w3.org/WAI/eval/report-tool/#/))

[2017-02-10 13:47] slhenry commented on #14
I like the idea of putting things together, but prefer collapsible &/or side bar, rather than separate sub-page. (Like on WCAG-EM Report Tool) I don't think there will be enough info for a separate page.

[2017-02-10 14:12] hkramer commented on #1
+1 to shorter version

[2017-02-10 14:13] AndrewArch commented on #1
@nitedog this has legal implications, so probably different from many of our other resources

[2017-02-10 14:15] yatil commented on #1
What about:

[2017-02-10 14:15] dboudreau commented on #1
+1 to shorter version, at the top, with a link at the bottom pointing back to it.

[2017-02-10 14:17] nitedog commented on #1
+1 to something like @yatil suggested

[2017-02-10 14:18] AndrewArch commented on #1
yeah - the suggestion from @yatil could work

[2017-02-10 14:19] slhenry commented on #1
Discussion in [10 Feb telecon](https://www.w3.org/2017/02/10-eo-minutes.html#item03). Summary:
It's visible first time, then if users collapse it, it stays collapsed on future visits.

[2017-02-10 14:21] maryjom commented on #1
In 10 Feb telecon, we also agreed to add a link to the disclaimer in the footer. Somewhere in the top we need either the disclaimer (perhaps collapsible) or a short sentence or heading to link to the disclaimer in a sidebar and shorten the text. We need to keep it prominent but less obtrusive.

[2017-02-10 14:21] dboudreau commented on #5
I'd also want the table to be simpler. I'm not really of fan if showing/hiding columns, because all this interaction just makes it harder for someone who can't see the screen.

I would only keep the following columns:

- New/updated
- Country
- Law/legislation name
- Type
- Scope

The other pieces of information are relevant, but not critical, and could be made part of the details below.

[2017-02-10 14:23] yatil commented on #5
+1 to simplify, I think @dboudreau’s suggestions sound great.

[2017-02-10 14:24] AndrewArch commented on #5
@dboudreau it also makes it more complicated for someone who only sees part of the screen and someone who has difficulty with tabular structures

+1 to simplify :)

[2017-02-10 14:28] iamjolly commented on #5
+1 to @dboudreau's suggestions to simplify table, possibly use filters instead to allow for @maryjom's use case for people finding what's enforced vs proposed, etc.

[2017-02-10 14:29] yatil commented on #5
I could imagine a simple [x] Show details checkbox for the table, which would by default be unchecked.

[2017-02-10 14:30] yatil commented on #5
Or put the table on another page.

[2017-02-10 14:31] dboudreau commented on #5
Afer having discussed and heard @sharronrush and @maryjom's use case, I would be in favor of keeping "status' but the removing "Law/legislation" because it's likely a more granular level of information that's only relevant if you've already selected a country... in which case, that kind of information could be placed in the details underneath.

[2017-02-10 14:31] slhenry opened #19 "[enhancement] reorder wcag version filter choices"

[2017-02-10 14:43] slhenry commented on #5
Discussion in [10 Feb telecon](https://www.w3.org/2017/02/10-eo-minutes.html#item04)

[2017-02-10 14:47] hkramer opened #20 "Wording for left menu item - Law & Policy Overview Table - not clear"
I suggest changing the wording of "Law & Policy Overview Table" to "Law & Policy by Country - table" and the menu item below that one: "Laws & Policies by Country" to "Laws & Policies by Country - detail."

I expected to find the table when I went to the latter and jumped right past the table. Someone not familiar with this page might miss the table altogether.

[2017-02-10 14:47] slhenry commented on #6
Discussion in [10 Feb telecon](https://www.w3.org/2017/02/10-eo-minutes.html#item05)

[2017-02-10 14:50] dboudreau commented on #7
I think well chosen icons with relevant alt text used in the context of a much simpler table would bot cause too many concerns. Removing the flag dynamically after a few weeks/months could magically disappear at some point, so there's no maintenance issues either. So:

- +1 to icon
- +1 to 3 month
- +1 to dynamically generating icons so there's no maintenance

[2017-02-10 14:51] AndrewArch commented on #7
@sharronrush nice, but not our job to be archivists

[2017-02-10 14:55] yatil commented on #7
@AndrewArch Yes, the question is how we approach that, we might need a change log so people at least have some way to know if something changed. I leave that to MaryJo and others :-)

[2017-02-10 14:57] slhenry commented on #7
Discussion in [10 Feb telecon](https://www.w3.org/2017/02/10-eo-minutes.html#item06)

[2017-02-10 14:58] AndrewArch commented on #8
and sometimes legally binding applies to different sectors (corporate vs govt vs educations etc) and for different issues (physical vs digital)

[2017-02-10 15:05] dboudreau commented on #12
+1 for the shortest, most straightforward wording possible.

[2017-02-10 15:06] slhenry commented on #8
Discussion in [10 Feb telecon](https://www.w3.org/2017/02/10-eo-minutes.html#item07)

[2017-02-10 15:11] maryjom commented on #12
To clarify, this is about the Status and Updates section at the top of the page since update information will be throughout the page. Remove that section, and simply have a button/link to submit updates somewhere toward the top of the page.

[2017-02-10 15:14] slhenry commented on #12
Discussion in [10 Feb telecon](https://www.w3.org/2017/02/10-eo-minutes.html#item08)

[2017-02-10 15:16] AndrewArch opened #21 "dates for entries"
which dates should we include for an entry?

Seems important to have:
- when the law/policy was approved
- when the law/policy went into effect
- any other date-based info? (eg sunset date if exists?)

We may not be able to provide all dates for all laws/policies, but we should aim to provide when we can.

[2017-02-10 15:17] dboudreau commented on #14
I'd rather have multiple pages (one per country) and no collapsible parts in the main index page, if we can. That would make the page much easier to go through, without requiring any fancy mechanisms. We did that for the Perspectives videos for example and it works really well. Also, it provides a unique URI for each country, which could also be useful...

[2017-02-10 15:18] slhenry commented on #21
+1

[2017-02-10 15:22] slhenry commented on #14
Discussion in [10 Feb telecon](https://www.w3.org/2017/02/10-eo-minutes.html#item09)

[2017-02-10 15:29] haltersweb opened #22 "Use of <details> <summary> to expand/collapse"
I suggest not using details / summary for expanding and collapsing content.

This is not widely supported with screen reader / browser combos.

1. IE does not support details/summary at all. (http://caniuse.com/#feat=details) Since JAWS is a major screen reader which pairs with IE this would be an issue.
2. I tried it in NVDA and while the summary is announced as a button with the current state an

[2017-02-10 15:57] yatil commented on #14
@dboudreau Basically we already have pages: https://w3c.github.io/wai-policies-prototype/policy/australia/ – We just don’t put something out there. I agree that it makes sense to have individual pages. The main page will be long enough anyway.

[2017-02-17 01:35] AndrewArch commented on #22
Thanks @haltersweb - we will onboard for implementation (noting this a rough prototype)

[2017-02-17 01:39] AndrewArch commented on #20
thanks @hkramer - that makes sense to me :)

[2017-02-17 01:40] AndrewArch commented on #19
@slhenry - can you elaborate?

[2017-02-17 04:14] iamjolly commented on #20
If we use something other than a table to filter/sort the contents of the page, this may change altogether. But, for now, the clarification is good to have. Will update the prototype but keep this issue open for further discussion.

[2017-02-17 05:58] maryjom opened #34 "WCAG version used not shown in country policy detailed information."
The WCAG version used for the law/policy used to be in the table and not in the country details, so now needs to be added to the country details.

[2017-02-17 06:03] maryjom opened #35 "How do we handle showing text and links are in another language?"
For example, in France the title of their standard is in French. How do we mark up that language change in the prototype code?

In addition, the links will go to a French language page. Should there be some indication that the link takes you to a French-only page?

[2017-02-17 06:33] maryjom commented on #5
The policy name column needs to be added back in the table because now you've got countries listed multiple times and no information on why other than the type and scope fields which is meaningless.

[2017-02-17 10:03] yatil commented on #5
@maryjom We can group the countries together, but I don’t think that would be really easy to digest – probably better to have the policy name in there imho.

[2017-02-17 12:31] AndrewArch commented on #34
Even if it was in the table, it should be in the country details to make them complete

[2017-02-17 13:48] maryjom commented on #5
@yatil @AndrewArch  Thanks Andrew, that's what I meant.  The removal of the names of the laws from the table makes the whole thing meaningless. I think Robert was trying to implement the suggestion of Denis not realizing the law name is pretty critical to have in there.

[2017-02-17 13:57] yatil commented on #21
I think we should probably keep it simple: future law, current law and outgoing law, it would be good to do that with dates it would be need, but it is less useful if it is not reliable – We certainly should mark where we have good data and where we don’t have it.

[2017-02-17 14:07] yatil commented on #1
Feedback from the meeting – Maybe we have the disclaimer open, but allow people to close it and remember that on re-visits.

[2017-02-17 14:14] bakkenb commented on #1
Based on meeting discussion, I too believe it would be nice to have a consistent introduction/disclaimer/information section across most pages in the site. Familiarity will help a lot of people.

[2017-02-17 14:14] AndrewArch commented on #1
EO 18/2
suggested to leave open as now shortened (rather than reveal/hide) as legal implications
also consider consistency across all disclaimers in site-redesign

[2017-02-17 14:23] iamjolly opened #37 "File (CSV, Excel) download of full table"
Recommendation to provide ability to download full table data

[2017-02-17 14:37] AndrewArch commented on #14
also relates to #2, #3 and #4

[2017-02-17 14:42] iamjolly commented on #14
Recommendation to move Terms to bottom of page and have a link to it in the Introduction area near the top of the page.

[2017-02-17 14:44] slhenry commented on #19
e.g., show me all that use WCAG 2

[2017-02-22 23:00] sharronrush commented on #19
The use cases that occur to me are these, but I will leave this for MaryJo's much greater experience:
- countries that use WCAG (and sort by level as well) as is
- countries that have use WCAG + additional requirements
- dates of publication
- date of enforcement
- countries that also have procurement requirements

[2017-02-23 00:49] bakkenb commented on #19
I don't have comment here. I don't feel I have experience to know what people would search for besides what has been outlined in the Use Cases, by Mary Jo, and by Sharron above.

[2017-02-28 18:56] yatil commented on #19
From the February 28th F2F:

* No filter for the date (as you can sort by date).
* Question if we need a way to filter by multiple countries. Maybe not worth the complexity in the UI.
* Filters update results in table and on the page.
* Filtering only the table and link to individual pages? General agreement when also having a view for all countries.
* Link to individual pages from the table and l

[2017-02-28 19:12] yatil opened #40 "Standardize values for wcag version used"
- wcag 1.0
- wcag 2.0
- wcag 2.0 derivative

[2017-02-28 19:13] yatil commented on #21
From the February 28th F2F:
* Enacted date would help with simplifying the table, the updated date would be useful. Maybe just use a year as most of the policies have multiple dates.

[2017-02-28 19:17] yatil opened #41 "Create Form"
In relation to #18

[2017-02-28 19:22] yatil opened #42 "Recently updated indicator"
From the February 28 F2F:
Mark entries updated in the last six months and in the last three months.

[2017-02-28 19:24] yatil opened #43 "Remove status column in favor to date."
See #21

[2017-02-28 19:24] yatil commented on #43
Also #6

[2017-02-28 19:27] iamjolly commented on #5
nothing left to do here

[2017-02-28 19:27] #5 closed

[2017-02-28 19:32] yatil commented on #35
Eric to work on this issue and make sure we can optionally have English and Original language title and attach the corresponding lang attributes.

[2017-03-17 03:36] iamjolly opened #46 "Ensure "link" text is unique"
Country details sections for each policy on the site's index page have non-unique link text that reads "link". Need to make this link text unique by linking the name of the policy or adding the name as visually hidden text for to supplement/replace "link".

[2017-03-17 21:27] #43 closed

[2017-03-17 21:32] #21 closed

[2017-03-17 21:35] iamjolly opened #49 "icons in table [was: Summary Table: Weekly Survey Question/Comments]"
This is for the EOWG Weekly Survey: Let us know what you think about the summary table and what advice or opinions you have to make it better.

[2017-03-21 12:54] dboudreau commented on #19
I'm thinking the filters for 'type" should also include another option, "mandatory standard", for instances where the adopted policy is not a law, but still an expected requirement for government (as is the case for the province of Quebec).

[2017-03-21 18:17] yatil commented on #49
(This is probably controversial and I _don’t_ feel strongly.) It would be awesome if we could use icons for certain information to make the information denser. For example for law, we could use a § sign, proposed law would be (§)… This would mean we need a legend, but I think if the primary use of the table is to be skimmable, it might be worth it.

[2017-03-22 13:52] slhenry commented on #19
* There still needs to be some synch-ing between the terms used throughout, for example, in the Filter options, "Standard" should probably be "WCAG Version Used" like in the table.
* I'm not convinced that "Status: Proposed/in development; In effect" is worth including as a filter. A person can sort the table by Date Enacted to get that. Also, it seems not a high usage from the use cases. (But I d

[2017-03-22 13:58] slhenry commented on #13
Current prototype has 4 headings (Disclaimer, Updates, Intro, Terms) for 5 sentences. Probably these can all go under one heading of Introduction or such.

(Also, I have minor copy edit suggestions I'll try to get to soon.)

[2017-03-22 14:45] slhenry opened #56 "All on one page, or countries separate?"
[I didn't see an issue on this point. Sorry if I missed it.]

We've talked about the default being one starting page, and then each country on it's on page. (*and* also an option to get it all on one page.)
(@sharronrush - do you happen to have pointer to relevant minutes???)

This has implications on the current prototype -- e.g., are the Filtering options within the Table section, or before it?

[2017-03-22 14:47] slhenry commented on #19
I think Filtering Options needs clearer heading. Depending on https://github.com/w3c/wai-policies-prototype/issues/56 , then probably outside of "Law & Policy Overview Table" section.

[2017-03-22 20:57] bakkenb commented on #49
I like the amount of data in the Summary Table. I am sure that I will have different opinions of the layout and how it is presented once it is moved into the final draft design that will be used for the resource. That said, I think the set is correct.

I like the idea of adding icons on this resource for things that could/should be skim-able. Not added just for looks, but added when appropriate an

[2017-03-22 21:58] bakkenb commented on #19
I am confused by the filter "Status." Would something that is **proposed** or **in development** even be listed on this page? If it is not a policy why would it be listed? Maybe this is for when a law or policy is in effect but not enforced for a year or more??? Just trying to understand what data this filter would be based off of that would trigger it and where else that information would show up

[2017-03-22 21:59] bakkenb commented on #19
Agree with the need to match the filter with the column heading or heading used after the table in the "Laws & Policies by Country" section.

[2017-03-22 22:09] bakkenb commented on #56
Good question. I think to know best it would be good to do some user testing on a more complete draft prototype. After people view what is in the table, find out what they would expect to see below the table, and then on a separate country or state/province page.

- "What did you expect to see when you clicked on the country name in the table?"
- "What did you expect to see listed under each count

[2017-03-23 18:17] maryjom opened #58 "Some laws have multiple standards- need way to provide a list of them"
One change that I need to have made to the Policy prototype is to allow multiple standards to be added for a single law.  When I went to add the U.S. 21st Century Video and Communications Accessibility Act, they actually have at least 4 different technical standards (e.g. audio description, captions, etc.) but there's no code to display multiple so I instead added a pointer to a page that has the

[2017-03-23 19:23] nitedog commented on #19
For filter "standard" I suggest adding the value "other".

[2017-03-24 19:17] maryjom commented on #49
I know some would like icons and some won't based on previous conversations I've heard on the EOWG.  My recollection is that Shawn and Sharron are not fans of icons.

[2017-03-30 14:07] maryjom opened #59 "Disclaimer text is on different line from the expand/collapse arrow."
This is related to Issue #1, but when the collapsible functionality was added, the expand/collapse icon appears a line above the disclaimer heading.

[2017-03-30 21:28] maryjom commented on #2
Closing this issue as the definitions have been updated.  If anyone doesn't agree with the definition, either reopen this and provide a comment, or open a new issue.

[2017-03-30 21:28] #2 closed

[2017-03-30 21:33] maryjom commented on #6
This change has been made in the prototype and there is general agreement that the enacted date scheme works with draft items having the text "draft".

[2017-03-30 21:33] #6 closed

[2017-03-30 21:35] maryjom commented on #3
Closing this, as the updated definitions are included in the prototype.  Reopen if the definition is still unclear with suggested modifications to the text.

[2017-03-30 21:35] #3 closed

[2017-03-30 21:39] maryjom commented on #4
Removed the "non-profit" sentence and only mention it (not has a hard rule) in the definition.  Reopen the issue with alternate suggestions if the definition is still problematic.

[2017-03-30 21:39] #4 closed

[2017-03-30 21:43] maryjom commented on #8
Marking it as a "recommendation" or "policy" helps some. Recommended when they clearly state it is "voluntary" or "should" type of language.  Policy is more of a "must follow" but it doesn't necessarily have a law behind it.  I think I made the verbiage and definitions clearer in this case. Reopen with suggested changes if you feel it isn't properly explained or used.

[2017-03-30 21:43] #8 closed

[2017-03-30 22:13] maryjom commented on #9
Some of these agencies are the issuer, some are responsible for enablement, and some are responsible for enforcement. e.g. for Section 508 in the U.S., the U.S. Access Board develops and issues the rule.  GSA is responsible for ensuring or educating agencies use the Section 508 standard in procurement. Dept. of Justice gets involved with enforcement and development of settlement agreements when no

[2017-03-30 22:17] maryjom commented on #10
All of the countries from the Word prototype are now in the live one.  We are still missing some countries that were in the original policies page, and I will continue to work to add the appropriate/updated information for countries where the links are working and not broken. Otherwise I'll leave it to content submitters using the submission form we create to update it.

[2017-03-30 22:19] #10 closed

[2017-03-30 23:21] maryjom commented on #13
I've tried understanding the code of the prototype and have no idea how to combine these sections into a single one as this is not coded with plain HTML and are in 4 separate files with no real heading markup that I can see.  I'll assign to Robert, as I'm sure he will know how to do this.

[2017-03-30 23:28] maryjom commented on #40
This has been done throughout the content and in the filters.

[2017-03-30 23:28] #40 closed

[2017-03-30 23:29] maryjom commented on #20
This has been done in the prototype.

[2017-03-30 23:29] #20 closed

[2017-03-30 23:41] maryjom commented on #12
The status and updates part has been edited to shorten it significantly.  The headings are going to be collapsed into one heading with the pertinent information for the page which is being tracked with issue #13 and the addition of a working submission button is being tracked with issue #18.  I'll copy over comments about potentially having a submit updates button on individual country parts to pr

[2017-03-30 23:41] #12 closed

[2017-03-31 00:04] maryjom commented on #1
We have made the text shorter and in a collapsible section, that is defaulted to open. There isn't any current capability to remember the open/collapsed status.  ...And Andrew has suggested we eliminate the collapsible functionality.

Is it possible to get agreement on this so we can close the issue or know if there's something more to change from the current prototype?

[2017-03-31 00:13] maryjom commented on #7
In addition, we removed the last updated date column from the table itself as it was confusing to many.
As for updated icons, we documented our solution to the timing of indicators to show what has been updated in the "3 months" and the "6 months". See Issue #42 for tracking the icon solution.

As such, this can be closed.

[2017-03-31 00:13] #7 closed

[2017-03-31 02:04] maryjom opened #61 "Need method to add related page link to link to state/province info"
Right now on all countries there's the blanket message pointer "Related page: Australian states..." as a placeholder for links to a separate state/province page.  This functionality will need to be added so we can begin to prototype those pages as well and in the meantime we can point to the existing state/province page.

Note: The "Related page" label shouldn't show up when there is no related pa

[2017-03-31 02:09] maryjom opened #62 "Expand all on page and expand all per country functionality"
If we have expand/collapse on each of the laws & policies for each country (which I like), there should be an easy one-button method to expand all for the whole page, and another on each country to expand all for just that country.  WCAG has similar methods for expanding/collapsing info.

[2017-03-31 02:13] maryjom opened #63 "Clear all filters button"
I'm thinking there should be a clear all filters button to easily switch back to view all existing country information.

[2017-03-31 03:22] iamjolly commented on #59
fixed with commit https://github.com/w3c/wai-policies-prototype/commit/b741224d08b996fc92edcd3f59ecd73d4584293e (copied @yatil's inline style for heading element)

[2017-03-31 03:22] #59 closed

[2017-03-31 03:28] #34 closed

[2017-03-31 03:33] iamjolly commented on #1
@maryjom - Does this need discussion/decision from the group? If not, I can remove the collapse/expand functionality entirely. We can always add it back if needed.

[2017-03-31 04:08] iamjolly commented on #1
Well, by pulling the Disclaimer into the Introduction section in issue #13, the collapsible functionality was removed. Per my previous comment, this can be added in, if needed.

[2017-03-31 04:08] #1 closed

[2017-03-31 04:16] iamjolly commented on #18
@yatil - I don't know if you've looked into this much yet. I just found an interesting article and related service talking about a similar sounding approach.

Article: https://nourish.je/my-new-comments-system/
and
Service: https://staticman.net/

[2017-03-31 04:18] iamjolly commented on #41
See my [comment](https://github.com/w3c/wai-policies-prototype/issues/18#issuecomment-290611658) on #18

[2017-03-31 04:28] #46 closed

[2017-03-31 04:35] iamjolly commented on #58
@maryjom - I will be working on this next. There should be a solution to meet this need!

[2017-03-31 09:59] yatil commented on #18
@iamjolly Yes, the new comments system article is probably how to do it, with an HTML form that does the heavy lifting for us. Maybe we generate the code via the form and then send it in as a pull request or issue (the latter is probably easier at first) for review.

[2017-03-31 14:05] maryjom commented on #1
I don't think so. The suggestion being made was to collapse the multiple
sections into a single section which is now significantly smaller than it
was before.  So I think we can remove the collapse as the information isn't
all that intrusive any more.

Best regards,

Mary Jo

                    Mary Jo
                    Mueller
                    Accessibility
                    Standards

[2017-03-31 15:19] slhenry commented on #1
+1 for not having collapse. (and closing this issue for now and people can re-open if wanted)

[2017-03-31 16:51] slhenry commented on #14
From https://github.com/w3c/wai-policies-prototype/issues/19#issuecomment-288404406

What I mean is in the Filter area:
[_] Term - description
[_] Term - description
[_] Term - description

[2017-03-31 17:00] slhenry commented on #9
Is it important to distinguish between Agency, Ministry, or Department? Will people submitting information necessarily know which category is right for their information?

If not very important to distinguish, then I support a generic term. To make it understandable, we could do something like:

[2017-03-31 19:06] maryjom commented on #9
@slhenry I don't think it's important to distinguish, so actually would prefer to use something generic. It also means it's one less thing to have to put into the form and verify before posting an update.

[2017-04-02 18:28] maryjom opened #69 "Disclaimer link no longer shows up at bottom of page"
We had added a disclaimer link at the bottom of the page, but it disappeared when the new (or old) WAI template/CSS was applied.  Need to make sure that when the final template is applied the link is re-added.

[2017-04-02 18:43] maryjom opened #70 "Law/Legislation column, make contents not bold, left justified"
In the table column titled Law/Legislation Name, all of the rows have the laws in bold and centered in the column.  Make them not bold, left justified.

[2017-04-02 19:51] maryjom opened #73 "Country details pages missing date enacted information"
Individual country details pages missing:
- Date enacted

Also on the summary page, labels are inconsistent:
- Date enacted vs. Enacted date

[2017-04-04 02:54] iamjolly commented on #58
I am thinking that this may work with multiple entries for "standard" in each country's markdown file. We can then do a `for` loop to write each one out. @yatil - does that make sense to you?

[2017-04-04 02:57] #73 closed

[2017-04-04 03:01] iamjolly commented on #69
@maryjom - We have the disclaimer in the Introduction section at the top of the page. Was the other disclaimer link to this section/heading near the top of the page, or was it linking to a different file/location?

[2017-04-04 03:59] iamjolly commented on #58
OK... @maryjom - This has been added. You can separate standards with a semicolon in each country-specific markdown file like I've done under the U.S. 21st Century Video and Communications Accessibility Act. This will create a separate list item for each standard.

We may want to finesse this on the display side a bit further, but the logic is now able to handle none, 1, or many standards for each

[2017-04-05 16:46] iamjolly commented on #61
@yatil will take a look at how the file structure should be set up and then @iamjolly will take that and run with it

[2017-04-05 16:52] iamjolly commented on #41
* @iamjolly will create form handler script with validation
* @yatil will upload PHP form handler script on the W3C servers with some validation (provided by @iamjolly)
* @yatil and @iamjolly will test and troubleshoot with @maryjom

[2017-04-06 18:55] maryjom opened #80 "Country in left nav and table are pulling country names from the file name, not the actual name"
The capitalization of countries with two word names is not correct. Also, if the country file name has an underscore in it, that underscore is showing up in the left nav menu and in the table (e.g. United_kingdom which should be United Kingdom).  These pieces of information should instead come from the English country name contained inside of the file which has the grammatically correct name for t

[2017-04-10 17:59] maryjom opened #81 "Hong kong is showing up first in the alphabetic list of countries"
Not sure why, but Hong kong is now showing up first in the left navigation list and first in the alphabetic table when sorted alphabetically, and first in the alphabetized countries at the bottom - before the countries that start with earlier letters.

[2017-04-12 19:24] iamjolly commented on #81
Looking at this now @maryjom

[2017-04-12 19:57] iamjolly commented on #81
Hmmm. After publishing changes, it is fixed locally but not on the live prototype.

[2017-04-12 20:01] iamjolly commented on #81
OK. This is now fixed in [my last commit](https://github.com/w3c/wai-policies-prototype/commit/5a326af59bea675a636ceb0c9390ebdd379c5636).

[2017-04-12 20:01] #81 closed

[2017-04-12 20:04] iamjolly commented on #80
This is still pulling from the file name (for now) but I have this displaying properly capitalized names without underscores. We will want to pull this from the [en] country name in the file as you suggested, or from the country name in the language of the page (future logic to be built).

For now, the policy/country file name should be all lowercase and use spaces instead of underscores (e.g. uni

[2017-04-12 20:14] #70 closed

[2017-04-12 20:26] #69 closed

[2017-04-14 18:18] maryjom opened #86 "Country details page needs linkage back to main page (or similar navigation as main page)"
I showed the policy prototype to someone and when they navigated to a specific country's page, they noticed there's no breadcrumb or navigation to get back (other than the browser's back button). I'm thinking we should have the country navigation menu (left nav) in all of the individual country pages as well as the main page.

[2017-04-14 19:17] iamjolly commented on #86
Excellent suggestion and I agree! I'll see what I can do to add navigation to the country pages.

[2017-04-19 17:13] bakkenb commented on #13
I  have no issues with the current wording in the Introduction section now that it has been updated. I do have one comment however, maybe this will/would all be worked out in the live version anyway, but wanted to add it here.

In the [intro sentence](https://w3c.github.io/wai-policies-prototype/#developing) it states...

If we are going to refer to the table as the "Web Policy Overview" table, th

[2017-04-19 18:22] bakkenb commented on #56
Personally, I would prefer seeing the table only on the landing page (along with being able to sort or filter), and then the name of the country in the table would link directly to the country page with the rest of the details.

To me it is confusing to have *some more* of the country details down below the table, as well as "even more" details on an individual country page. I start asking myself,

[2017-04-19 22:12] slhenry commented on #56
I continue to support the default of only the table on the main page, and the country details on separate pages.

In rare cases, someone might want to see or even print out all the data. Therefore, I continue to support providing option to get all of the data one one page -- e.g.,  [Understanding](https://www.w3.org/TR/UNDERSTANDING-WCAG20/) has _Single file version_ -- though this doesn't need to

[2017-04-19 22:14] slhenry commented on #13
Proposal:

This page lists some governmental policies related to web accessibility, although it is not a comprehensive or definitive listing.

The information on this page is not legal advice. If you have questions about the applicability of the policies to specific situations, please consult legal authorities for the appropriate jurisdiction.

For guidance on developing an accessibility policy fo

[2017-04-19 22:17] slhenry commented on #14
reminder to @iamjolly  about suggestion above :-)

[2017-04-19 22:17] slhenry commented on #13
+ terms described with filtering options per https://github.com/w3c/wai-policies-prototype/issues/14#issuecomment-290767284

[2017-04-19 22:20] slhenry commented on #56
I also suggest using the full width of the page for the table. That will help those using small screens &/or large text.

Since we won't have the countries on this main page, we don't need a nav column on the left.

[2017-04-20 14:03] sharronrush commented on #56
Strongly support displaying only the table on the main page, and the country details on separate pages.

[2017-04-20 16:42] bakkenb commented on #13
+1 to proposal.

[2017-04-20 17:18] nrhsinclair commented on #13
I did not see the wording of the introduction before it was changed, but coming to this section without much background in the subject, to me some sort of introduction or background would be helpful before mentioning the table. Perhaps changing the order of first and second paragraphs to:

Developing Organizational Policies on Web Accessibility addresses issues which frequently arise when establis

[2017-04-20 17:30] nrhsinclair commented on #56
To me the list below the table looks like a second useful way of presenting the information. I like seeing all of the laws/legislation listed together under the country name. It could be a useful way for individuals to more easily reuse the information if they planned to copy and paste it into a report for example.

[2017-04-20 20:08] haltersweb commented on #56
I don't mind the table but its blind should start out closed.  This is a cognitive issue.

As a person with severe ADD I found my brain scrambled while looking at this page.  I spent about 5 minutes trying to figure out what this page was about (no joke) because my eyes couldn't figure out where to land.

I need a simple UX experience with low content to understand the page.  Then I will unfurl wh

[2017-04-20 20:18] haltersweb opened #89 "Heading hierarchy"
All the country headings under the H2 "Laws & Policies by Country" should be changed to H3s since they are subsections under "Laws & Policies by Country".  (They are currently also H2s which makes them siblings of "Laws & Policies by Country".)

Heading hierarchy is very important for those using screen readers.  The hierarchy should make sense.

[2017-04-20 20:36] haltersweb opened #90 "Checkbox Fieldsets and Legends"
Policy filter subtitles need to be legends.  They need to relate to the checkboxes they own, rather than being siblings to their checkboxes.

A legend and its checkboxes must be wrapped in a fieldset.

This is of importance because screen-reader users often jump directly into form fields non linearly.  They will have no idea what the checkbox is for.

They will hear for example "WCAG 1.0 checkbox

[2017-04-20 21:06] iamjolly commented on #90
Thanks for these notes @haltersweb. Once we start work on wiring up the filters for real, we'll address this issue. Should be addressed during week of 4/24/2017.

[2017-04-20 21:45] iamjolly commented on #9
This has been addressed in the latest pull request for the submission form [PR88](https://github.com/w3c/wai-policies-prototype/pull/88). Closing, but issue can be reopened if wording should be revisited.

[2017-04-20 21:45] #9 closed

[2017-04-20 21:46] iamjolly commented on #41
Form created with [PR88](https://github.com/w3c/wai-policies-prototype/pull/88).
PHP handler script will be edited next.

[2017-04-21 02:23] iamjolly commented on #80
This was fixed, courteously, by @yatil with his [commit on 12 April](https://github.com/w3c/wai-policies-prototype/commit/5b72097e0b3527e87a84f1731be7c91e2a21cf2a). Thank you, Eric!

[2017-04-21 02:23] #80 closed

[2017-04-21 02:58] #86 closed

[2017-04-21 03:04] #89 closed

[2017-04-21 20:04] maryjom opened #94 "Policy submission form - class of visuallyhidden content still visible on the page"
There are leftover headings that have a class="visuallyhidden" that are visible (not hidden) on the submission form page.  Do we really even need these headings now that we are using fieldsets?

[2017-04-21 21:55] iamjolly commented on #94
Hmmm. Those were cloned from how the WAI-Tools submission form was set up. I don't know why the headings were used in addition to the fieldset legends, but I suspect it was to add another layer of navigation. I say we can either remove them or change the class to "no-display" which is the equivalent in CSS as the WAI-Tools class for "visuallyhidden".

[2017-04-24 02:28] #94 closed

[2017-04-24 21:08] iamjolly commented on #61
@maryjom and I discussed this one and we will only have one related page per country (at this time) and I'll work on a way to use Kramdown/Markdown to have a URL with linked text (title of the page).

[2017-04-24 21:19] iamjolly commented on #15
@yatil - Do we have a style for external links in wai-main.css? If we have it, I'll add it. I'm combing through the styles and not finding one in there.

[2017-04-24 22:31] yatil commented on #15
@iamjolly Use `<img src="//www.w3.org/Icons/tr.png" alt="External">` for this layout & CSS.

[2017-04-25 04:02] maryjom opened #116 "Form: Would like to have separate link name, URL, and description fields for standards and relevant documents"
In my original design for the form I showed providing the three fields - policy name, it's URL link, and an optional description with a button that would add another group of those three fields for adding a additional standards and also when adding relevant documents.  It seems a bit confusing to provide three parts of information in a single entry field and having to provide any additional as ano

[2017-04-27 08:44] yatil commented on #116
Done! :-)

[2017-04-27 08:44] #116 closed

[2017-04-27 11:50] eogitbot opened #122 "New Entry for Germany"
New Entry for Germany

Submitted by [Eric Eggert](mail@yatil.net):

[code]

[2017-04-27 11:51] #122 closed

[2017-04-27 11:51] yatil commented on #122
Just testing :-)

[2017-04-27 11:53] eogitbot opened #123 "New Entry for Germany"
New Entry for Germany

Submitted by [Eric Eggert](mail@yatil.net):

[code]

[2017-04-27 11:57] yatil commented on #123
Another test. Sorry!

[2017-04-27 11:57] #123 closed

[2017-04-27 13:56] slhenry commented on #62
Issue moot because each country will be on separate pages.

Closed in discussion with Mary Jo and others. :-)

[2017-04-27 13:56] #62 closed

[2017-04-27 14:01] slhenry commented on #13
@nrhsinclair Please see the updated Introduction at https://w3c.github.io/wai-policies-prototype/index.html

and feel free to reopen this issue if needed.

(Closed with Mary Jo and others.)

[2017-04-27 14:15] yatil commented on #15
I have just added external links icons. 962da365dc03062e1bee179098578f16d09b7a5f

[2017-04-27 14:15] #15 closed

[2017-04-27 14:17] maryjom opened #124 "Filters are taking too much vertical space."
Put each filter type group in a box and horizontally so they don't take too much vertical space.

[2017-04-27 19:15] #13 closed

[2017-04-28 13:08] iamjolly opened #125 "Submission form styling"
Improve styling and layout on the form to ensure clarity/usability of the labels, fields, and the description text.

Make label placement more consistent (some are over their fields, some are to the left).

[2017-04-28 13:10] iamjolly opened #126 "Screen reader testing of submission form"
Sylvie will test with screen reader using JAWS/IE and NVDA/FF.

She just tested with braille and it seems fine right now in terms of headings vs fieldsets.

[2017-05-01 12:49] eogitbot opened #128 "New Entry for UK"
New Entry for UK

Submitted by [Test](foo@bar.org):

[code]

[2017-05-01 19:28] iamjolly commented on #128
@yatil testing.

[2017-05-01 19:28] #128 closed

[2017-05-01 20:26] eogitbot opened #130 "New Entry for USA"
New Entry for USA

Submitted by [Mary Jo Mueller](maryjom@us.ibm.com):

[code]

[2017-05-01 20:26] eogitbot opened #131 "New Entry for United States"
New Entry for United States

Submitted by [Robert Jolly](robert@knowbility.org):

[code]

[2017-05-01 20:28] #131 closed

[2017-05-01 20:28] #130 closed

[2017-05-01 20:36] maryjom opened #132 "Form submission results page needs to be updated"
Form submission results page has a lot of html or other stuff at the top that either shouldn't be there or needs formatting or suppressing.

The issue number isn't pulled into the text of the link referring to the issue and doesn't go to the issue. Either fix or remove.

[2017-05-01 20:39] iamjolly commented on #41
Form has been created and form handler is also created. Other issues can be opened to address specific form-related concerns.

[2017-05-01 20:39] #41 closed

[2017-05-01 20:41] maryjom commented on #125
- Change "I don't know" response to "Unsure" or "Not sure"
- Add "Unsure" response to "Scope" and "Technologies"
- Make sure sizes of entry fields change to match the size of the information we expect to get in the field.
- Instructions for fields in italics
- Add white space between fields.

[2017-05-01 21:10] maryjom opened #133 "Put in policies info from the old page to replace placeholder info"

[2017-05-01 21:11] maryjom commented on #22
I think this will be able to be closed once all of the list of detailed countries are removed from the overview table page.

[2017-05-01 21:19] eogitbot opened #134 "Update for Eric’s testing Country"
Update for Eric’s testing Country

Submitted by [Eric](test@example.com):

[code]

[2017-05-01 21:21] eogitbot opened #135 "New Entry for United States"
New Entry for United States

Submitted by [Roberto Jollio](robert@knowbility.org):

[code]

[2017-05-01 21:22] eogitbot opened #136 "Update for Eric’s testing Country"
Update for Eric’s testing Country

Submitted by [Eric](test@example.com):

[code]

[2017-05-01 21:24] eogitbot opened #137 "Update for Eric’s testing Country"
Update for Eric’s testing Country

Submitted by [Eric](test@example.com):

[code]

[2017-05-01 21:25] eogitbot opened #138 "Update for Eric’s testing Country"
Update for Eric’s testing Country

Submitted by [Eric](test@example.com):

[code]

[2017-05-01 21:27] maryjom opened #139 "Filters using "and" logic rather than "or" logic"
To explain, in the filters when I select "Law" I get 1 policy that matches.  When I select "Mandatory policy" I get 1 policy that matches.  When I select both "Law" and "Mandatory policy" I get zero matching policies where I expected to see two.

This brings to mind that we may need to have some explanation or choice of using "or" or "and".  If we choose only one way, I'd like to have it be "or".

[2017-05-01 21:28] eogitbot opened #140 "Update for Eric’s testing Country"
Update for Eric’s testing Country

Submitted by [Eric](test@example.com):

[code]

[2017-05-01 21:29] eogitbot opened #141 "Update for Eric’s testing Country"
Update for Eric’s testing Country

Submitted by [Eric](test@example.com):

[code]

[2017-05-01 21:30] eogitbot opened #142 "Update for Eric’s testing Country"
Update for Eric’s testing Country

Submitted by [Eric](test@example.com):

[code]

[2017-05-01 21:30] #134 closed

[2017-05-01 21:30] #136 closed

[2017-05-01 21:30] #137 closed

[2017-05-01 21:30] #138 closed

[2017-05-01 21:30] #140 closed

[2017-05-01 21:30] #141 closed

[2017-05-01 21:30] #142 closed

[2017-05-01 21:33] yatil commented on #139
We usually have “or” inside a group and “and” between groups. So you could have “Show policies based on WCAG 2.0 or WCAG 2.0 derivates and in effect”

[2017-05-01 21:36] yatil commented on #132
Yes, debugging code was on top. I did expect that I get a nod by the systeam if they fixed the issue. But I wasn’t aware that it was already “online”. Fixed the issue.

(I’ll open a new one for adding the template and make it look WAI-like.)

[2017-05-01 21:36] #132 closed

[2017-05-01 21:37] yatil opened #143 "Add WAI styling to submission result."

[2017-05-01 21:44] yatil commented on #125
@maryjom

Please specify what size what input field should have.

We usually don’t use italics for readability reasons.

Where should be how much white space?

[2017-05-01 22:35] maryjom commented on #139
That makes sense.  So the bug is that it's using "and" inside the group.

[2017-05-01 22:37] iamjolly commented on #61
Hi @maryjom - This is now working with both Canada and United States files as examples.

To add/edit related pages for countries, you'll need to add the following to the files:
[code]

This will allow us to add multiple related pages just like we can add multiple documents for each policy.

[2017-05-01 23:55] maryjom commented on #125
Size of fields:
- all URL/URI entry fields, Policy Name, Standards used by policy (all 3 fields), and relevant documents (all 3 fields) should be the full available width, as some URLs, names and descriptions are quite long
- The rest of the fields maybe make them 1/2 the width of the available space so they all have a consistent look.

Instructions: OK if we aren't supposed to use italics, but wa

[2017-05-02 02:35] #135 closed

[2017-05-02 02:46] iamjolly commented on #56
@nrhsinclair and @haltersweb - Thank you for that feedback. We are going to go with making the MVP of the new policies page display the summary table (with filtering capability) and link to separate country pages with detailed policy information on them.

We want to perform some usability testing at AccessU 2017 (and possibly shortly after) on this MVP to determine what works well for folks and wh

[2017-05-02 04:22] #56 closed

[2017-05-02 04:59] maryjom opened #147 "Updates needed in the footer of the Policy prototype & submission pages"
The boilerplate footer information in the prototype has several broken links and outdated information. We need to make sure these will work when the page is published.  Some examples:
- Content last updated date
- Link "Submitting Updates to Policies Relating to Web Accessibility" produces 404 error.  I think this can be removed - not needed on the page.
- Editor information
- Disclaimer link does

[2017-05-02 05:23] maryjom opened #148 "Sorting of table by country isn't working properly"
When I initially bring up the page, the table isn't sorted by country any more. When I apply a filter and then try to sort the table by country, it doesn't do the alphabetic sorting correctly.

[2017-05-02 05:31] #63 closed

[2017-05-02 05:41] iamjolly commented on #139
I am not sure how to address this issue, as there is no apparent property or method to set the [faceted search script](https://github.com/w3c/wai-policies-prototype/blob/gh-pages/js/facetedsearch.js) to use OR vs AND logic. I will keep digging on this one, though, and hopefully we'll have a solution to this soon.

[2017-05-02 09:55] yatil commented on #139
Ah, was that something the faceted search can’t do? I’ll have a look!

[2017-05-02 14:03] yatil commented on #148
I have fixed that!

This works for me. Can you confirm? Maybe I am sorting the wrong thing, a screenshot would be helpful to find the problem :-)

[2017-05-02 14:16] #147 closed

[2017-05-02 14:24] yatil commented on #139
So, the faceted search does that by default, but we decided to remove that functionality because people thought it was complicated to understand:

https://eikes.github.io/facetedsearch/

When you click on an item in the first column (no keyboard input), you get a (+) to add other terms from that group. I wonder if this is a must have feature.

Discuss.

[2017-05-02 14:42] iamjolly commented on #19
Filters have now been added to the prototype. We are opening new issues for any bugs and enhancements. Closing this for now.

[2017-05-02 15:34] eogitbot opened #150 "New Entry for Eric’s Test Country"
New Entry for Eric’s Test Country

Submitted by [Eric](test@example.com):

[code]

[2017-05-02 15:36] #150 closed

[2017-05-02 15:36] yatil commented on #143
Fixed in c0e703a7e8827ad9cc6f694712e525301f419514.

[2017-05-02 15:36] #143 closed

[2017-05-02 15:37] #61 closed

[2017-05-02 15:45] maryjom commented on #148
This seems to be working as expected now. Not sure what changed, but I'm unable to recreate the problem at this point.

[2017-05-02 15:48] iamjolly commented on #148
Thank you @yatil and @maryjom! Closing for now.

[2017-05-02 15:48] #148 closed

[2017-05-02 15:50] maryjom commented on #139
@yatil Yes, that faceted search works as I would expect. Each time you click another item in the same filter category it adds items that match to the results. It doesn't look for a combination of all of them to yield fewer results.

[2017-05-02 15:58] yatil commented on #125
Thanks @maryjom, I’ll take care of it!

[2017-05-02 17:34] maryjom commented on #125
Looking MUCH better!  A few minor tweaks:
- Enacted date can be a half-size entry field.
- Strange that the Responsible Entities, Standards used by policy and Relevant documents show the bullet above the text of the first field. Should be on the same line.
- In addition, alignment of the left edge of the input fields that are in these bulleted groups are not aligned with the left edge of other ent

[2017-05-02 17:43] iamjolly commented on #125
Thanks for taking on the styling of this @yatil. I'll pile on with a couple of related comments on this:

- Can we remove the bullet for Entities, Standards, and Documents using `ul.multiple {list-style-type: none;}`?
- The input fields seem to be pretty far from most labels. Any way to bring them closer in proximity? Not the most pressing issue, but could be appreciated by folks using high magnif

[2017-05-02 17:49] #124 closed

[2017-05-02 17:59] yatil commented on #125
Done!

* @maryjom:

* @iamjolly:

I find the bullet to be good for orientation, but if they make problems in some browsers (they look ok for me…), consider them gone!

Impossible to do without subgrids in CSS (the width of the containers is different therefore the percentage is different, too.)

Added the space.

We can’t have consistent field widths and close to the labels. We already have labels

[2017-05-02 18:03] iamjolly commented on #125
I like those ragged-left form inputs @yatil. I defer to @maryjom on the final decision on those

[2017-05-02 18:05] yatil commented on #125
FWIW I quite like them :-) (And I can have shorter for the enactdate, I just didn’t think about that when doing the quick mockup.)

[2017-05-02 18:31] maryjom commented on #125
Typically I like labels above form entry fields for that reason - everything aligns nicely. But since this is a long form, I think that styling makes the form too long. So, ragged-left will have to stay.  Just make sure there is a little space between the label and the field. To my recollection, they were really tight together before.

[2017-05-02 20:10] yatil commented on #125
Updated! (4c692db5f3a8b2bd0ae8243b1e17167371cfe210)

[2017-05-02 20:12] yatil commented on #133
We need to make sure that the entries from the old page are still valid, I think I’d be hesitant to start with a new page but with really, really outdated info.

[2017-05-02 20:56] iamjolly commented on #125
This is looking much better thanks to @yatil's efforts. Are any additional styling or content changes needed at this point @maryjom?

[2017-05-02 20:57] maryjom commented on #133
@yatil I'm only going to put in there if links are working, etc. If nothing exists today, like for Denmark, I'm going to remove that country.  If you have any info or clues to get info for any of the European countries let me know.

[2017-05-02 21:01] maryjom commented on #125
Looks good to me. Closing.

[2017-05-02 21:01] #125 closed

[2017-05-02 21:05] iamjolly commented on #22
We are no longer using the `<details>` and `<summary>` elements in this version of the policies MVP. I'm going to close it with big thanks to @haltersweb for raising that IE/Edge issue. If we reintroduce this show/hide feature, we'll implement it to have support for everything—either via polyfill or a different approach altogether.

[2017-05-02 21:16] maryjom opened #151 "Make country data in table & filters consistent"
Some data has WCAG 2.0 Level A while the rest simply say WCAG 2.0. Be consistent. Same with the type of law/policy.  Once consistent in the country data, remove extra filters.

[2017-05-02 21:18] iamjolly commented on #151
The filters may remove themselves once those different entries are removed out of the country data files. I believe we're generating the filters dynamically from that data.

[2017-05-02 21:50] iamjolly commented on #14
Added Terms back into the Introduction area and made it collapsible (but open by default). This addresses @slhenry's [comment on Mar 31](https://github.com/w3c/wai-policies-prototype/issues/14#issuecomment-290767284). Closing for now but we can re-open this if/when needed.

[2017-05-02 21:50] #14 closed

[2017-05-02 21:53] iamjolly commented on #22
Reopening. I was mistaken. We still had one `<details><summary>` section on the index page for the table (which can likely be removed. But I also just added the Terms back to a collapsible `<details>` section in the Intro of that page, so I'll port over the polyfill from the WAI-Tools repo. Once that's done and tested in IE10+ and Edge, we'll be able to close this one.

[2017-05-02 22:32] yatil commented on #139
This now works! (7e22ece4c880d8035a2d68a88b29493baface0a6)

[2017-05-02 22:32] #139 closed

[2017-05-02 22:34] yatil commented on #151
Yes. India seems to have WCAG 2.0 A – Actually, if it is in the table it should be in the search as well.

I think we want to close this :-)

[2017-05-02 22:45] #90 closed

[2017-05-03 01:02] iamjolly commented on #22
And this is now fixed. IE and Edge have support now for the expandable/collapsible details content.

[2017-05-03 01:02] #22 closed

[2017-05-04 19:51] iamjolly commented on #126
Feedback from Sylvie Duchateau:

[2017-05-04 19:51] #126 closed

[2017-05-05 04:53] iamjolly commented on #35
Is this still something we feel is necessary for the Policies Launch? Or, is this more of a Post-Launch Enhancement?

We can use the [`hreflang` attribute](https://www.w3.org/TR/html5/links.html#attr-hyperlink-hreflang) to advise of the language of the linked page/document. But, User Agents (browsers) may not do anything with that in terms of alerting the user.

Should we (instead of or in additio

[2017-05-05 12:51] vuxcaleb commented on #35
I do not feel this is a show stopper before publishing but I agree with @iamjolly. W3 has a doc called [Indicating the language of a link destination](http://www.w3.org/International/questions/qa-link-lang)  which describes using `ahreflang` attr with a CSS snippet which displays the country code value as the display.

[Live Demo](http://www.w3.org/International/questions/qa-link-lang-data/sv)

[2017-05-05 13:07] yatil commented on #35
From the meeting on May 5th:

RESOLUTION: Link text will be the English title of the external document The native language title will appear in unlinked parentheses. A note that links may go to other languages will be presented in the introductory text. The issue will be revisited after launch.

[2017-05-05 13:16] yatil opened #159 "Remove expand/collapse feature of the Policies Table"
From the [meeting on 2017-05-05](https://www.w3.org/2017/05/05-eo-minutes.html):

RESOLUTION: Remove expand/collapse feature of the Policies Table

[2017-05-05 13:17] eogitbot opened #160 "New Entry for United States"
New Entry for United States

Submitted by [Caleb Test](mailto:testing@test.com):

[code]

[2017-05-05 13:18] vuxcaleb commented on #160
This was just a test form submission. All field data is accounted for.

[2017-05-05 13:18] yatil opened #161 "Edit the intro text on the form"
Remove Email list reference, we are making a direct submission to GitHub.

[2017-05-05 13:19] yatil opened #162 "Clarify with Shawn who Is the responsible party named on the submission form"
https://w3c.github.io/wai-policies-prototype/submission.html

[2017-05-05 13:23] #159 closed

[2017-05-05 13:30] #160 closed

[2017-05-05 13:36] #161 closed

[2017-05-05 13:41] eogitbot opened #165 "New Entry for Test"
New Entry for Test

Submitted by [adsfa](mailto:test@example.com):

[code]

[2017-05-05 14:02] #165 closed

[2017-05-05 19:09] eogitbot opened #166 "New Entry for US"
New Entry for US

Submitted by [Laura Keen](mailto:lkee@loc.gov):

[code]

[2017-05-08 14:05] eogitbot opened #167 "Update for United States"
Update for United States

Submitted by [Brent Bakken](mailto:brent.bakken@pearson.com):

[code]

[2017-05-08 15:50] iamjolly commented on #166
Thank you for testing @lakeen. Closing issue. Reopen if you have any comments or concerns, please.

[2017-05-08 15:50] #166 closed

[2017-05-08 15:50] iamjolly commented on #167
Thank you for testing @bakkenb. Closing issue. Reopen if you have any comments or concerns, please.

[2017-05-08 15:50] #167 closed

[2017-05-08 20:23] eogitbot opened #168 "New Entry for Zimbabwe"
New Entry for Zimbabwe

Submitted by [Robert](mailto:jolly.robert@gmail.com):

[code]

[2017-05-08 20:23] iamjolly commented on #168
Closing. Thank you. Come again.

[2017-05-08 20:23] #168 closed

[2017-05-08 20:30] iamjolly opened #169 "Scope for filters - parse comma-delimited data"
In the filters for Scope of Policy...

We are listing items like "gov, public" where these are coming from comma-delimited data in the scope field. If we can parse these values for the filters, that would be great.

This is not a show-stopper but would be great to have for launch.

[2017-05-09 12:39] slhenry commented on #162
Eric suggested in e-mail:

Sounds good to me.

[2017-05-09 12:46] #162 closed

[2017-05-09 13:12] #169 closed

[2017-05-09 13:13] #151 closed

[2017-05-09 13:19] yatil commented on #18
We have implemented this.

[2017-05-09 13:19] #18 closed

[2017-05-09 13:20] yatil commented on #49
Seeing the table as it is now, I don’t think it needs icons. If you asked me, you can close the issue.

[2017-05-09 13:54] iamjolly commented on #169
Thank you @yatil!!!

[2017-05-09 22:05] maryjom opened #173 "Multiple languages for ministry name & related documents"
Not sure If I should keep this in or not, but I found ministry names in different languages, but the code isn't handling the language tags correctly.  See [Finland](https://w3c.github.io/wai-policies-prototype/policy/finland/) and [Denmark](https://w3c.github.io/wai-policies-prototype/policy/denmark/), for example.  In the MVP I could remove the other languages for the ministries. Just wanted to p

[2017-05-09 22:18] iamjolly commented on #173
We currently don't loop through languages of Ministries links like we do for country names and policy titles. But, it's possible!

Do you want us to add this bit of functionality before the MVP launch @maryjom?

[2017-05-09 22:23] maryjom commented on #173
@iamjolly Maybe I was just overthinking it and added too much multilingual stuff in there. I don't think it's an absolute necessity, so you can move it to the post-launch and maybe we can ask our international folks attending AccessU what they think is helpful to see.  The page for the ministry links are in the native language for those countries.

[2017-05-09 22:31] iamjolly commented on #173
That sounds like a good plan. Moving this to post-launch and hopefully we can get some feedback from folks on this at the conference.

[2017-05-09 22:38] maryjom commented on #173
@iamjolly Found the same issue exists with related documents. I can't put the related document name in another language and have the markup work. I don't think it was enabled that way.

[2017-05-10 09:16] yatil commented on #173
I think it is useful for related documents, but not too much for ministries.

What shall we do if a related document has no English name? (Probably moving to post-launch is OK for this tbh.)

[2017-05-10 12:32] eogitbot opened #176 "New Entry for United States"
New Entry for United States

Submitted by [Norah Sinclair](mailto:norah.sinclair@amac.gatech.edu):

[code]

[2017-05-10 13:39] eogitbot opened #177 "[bug] - Submission form URL/URI validation --- New Entry for United States"
New Entry for  United States

Submitted by [Kris Anne Kinney](mailto:kakinney@ets.org):

[code]

[2017-05-10 13:43] kakinney commented on #177
Interesting fact - the first URL let me just put in www. as the URL address.  But under the ministries, it required me to do http:// before the URL address.  Also, I think the first URL says URl with a lower case L.  I attached a screen shot.

<img width="687" alt="issue" src="https://cloud.githubusercontent.com/assets/23261002/25901535/11161a36-3565-11e7-862b-d2b967a6dd6d.png">

[2017-05-10 13:44] iamjolly commented on #177
Thanks for catching this @kakinney. We'll investigate and fix!

[2017-05-10 14:11] yatil opened #178 "Add the language to the title of a link to indicate what language the page is"
Important usability issue.

Via @slhenry.

[2017-05-10 14:59] slhenry commented on #35
Basic usability is that users should know what a link goes to. Users should not have to click a link to find out what language the document is in.

I feel pretty strongly that the link should be on the language of the document. That is, if the document is in non-English language, then the document title in that language should be the link.

(fyi, here's the [formatting we used before](https://www.

[2017-05-10 15:01] slhenry commented on #178
Actually, I think we just link the title in that language, then don't need additional language indication - per https://github.com/w3c/wai-policies-prototype/issues/35#issuecomment-300509696

[2017-05-10 15:01] slhenry commented on #178
Actually, I think we just link the title in that language, then don't need additional language indication - per https://github.com/w3c/wai-policies-prototype/issues/35#issuecomment-300509696

[2017-05-10 15:06] yatil commented on #178
I’ll make sure to implement a way to have all six ways of displaying the language as shown in #35 and this document: https://www.w3.org/WAI/Policy/updates.html#formats

[2017-05-10 15:24] eogitbot opened #180 "New Entry for USA/Texas"
New Entry for USA

Submitted by [Sharron Rush](mailto:srush@knowbility.org):

[code]

[2017-05-10 16:15] slhenry opened #181 ""Terms used on this page" h2->h3"
So it's not so big and doesn't have the dotted underline.

And structurally I think it's OK under [h2]Intro

[2017-05-10 16:28] iamjolly commented on #181
Resolved by
https://github.com/w3c/wai-policies-prototype/commit/07ad3540c93f844b422ca664a70a7205c52f752b

[2017-05-10 16:28] #181 closed

[2017-05-10 16:28] slhenry opened #183 "Sidebar only Country listing [medium]"
I think the sidebar should be only "Country Details" with list of countries.

* "Contents" as an overall heading is potentially confusing since most of the links go off page.
* I don't think these aren't needed in the sidebar:
"Introduction
Law & Policy by Country — Overview Table"

[2017-05-10 16:40] slhenry commented on #19
Agree with Eric above:

[2017-05-10 16:42] iamjolly commented on #19
@slhenry - This is only a "nice to have" and is not critical for launch. Moving to Post-Launch Enhancements milestone.

[2017-05-10 16:43] slhenry commented on #42
fyi, I'm not convinced this is overall a good thing...

[2017-05-10 16:44] iamjolly commented on #19
Also, this issue will now be renamed to "[enhancement] reorder wcag version filter choices" to make it clear what is needed.

[2017-05-10 16:45] slhenry opened #184 "Filter collapsible? [mild]"
I noted Adina saying the page was very complicated. And that we already have Terms collapsible.

Perhaps we also want to make the "Filter policies to show:" section collapsible -- to allow simplification of the visual...

[2017-05-10 16:50] iamjolly commented on #184
Agree it could be useful to make it collapsible, but not urgent priority. This is something we can ask for feedback on during AccessU and from outside people, then implement.

FWIW, if the filters are made collapsible, I do not think the filters should be closed/collapsed by default. That is also something we can usability test against, too.

[2017-05-10 16:50] slhenry opened #185 "Filters - hanging indents"
<p>instead of:<br>
  [_] None (12 items)<br>
  [_] WCAG 1.0<br>
  derivative (2 items)<br>
  [_] WCAG 2.0<br>
  (22 items)<br>
  [_] WCAG 2.0<br>
  derivative (4 items)</p>
<p>should be:<br>
  [_] None (12 items)<br>
  [_] WCAG 1.0<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;derivative (2 items)<br>
  [_] WCAG 2.0<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(22 items)<br>
  [_] WCAG 2.0<br>
  &nbsp;&n

[2017-05-10 16:56] slhenry opened #186 "Filters - 2 columns"
I'm getting significant wrapping, even on my external monitor when I zoom down to 100%. Makes it harder to process the filter categories and options.

I suggest two columns:
1. WCAG Version Used and Scope of Policy
2. Type of Policy

<img width="673" alt="125" src="https://cloud.githubusercontent.com/assets/6991814/25910815/47cf20c4-3577-11e7-99d4-31d792a59f36.png">
<img width="649" alt="100" src=

[2017-05-10 16:57] slhenry commented on #184
agree they should be open by default (as the terms are)

[2017-05-10 17:00] slhenry opened #187 "Table sort arrows"
Can we make these more visible?

At a minimum, can we add a space between the word and the arrows?

[2017-05-10 17:22] slhenry commented on #19
umm - but changing the filter option order *after* people are used to it, would not be nice. I assume it's a 5 minute fix, and should be done before launch.

[2017-05-10 18:24] yatil commented on #186
This is not responsive yet. (And with the table it never can be. I’ll look into it.)

[2017-05-10 18:26] yatil commented on #178
Implemented in c8de6ab1bfd11a1f05a059a857607c34c12ccc66, fcef10d0d567569d0d34630d7c7a6374ae2bb7c5, 487e02371af935d3d164391f55dd0101d1f140f0, and fbea929507a0d995aa361a015d90e300eebaf42b.

[2017-05-10 18:28] slhenry commented on #186
hum -- maybe I'm not clear. I think by default there should be only 2 columns.

[2017-05-10 18:29] yatil opened #188 "Dummy content for several countries"
I guess @maryjom is aware of it, but I just wanted to make a record:

* [ ] Italy: https://github.com/w3c/wai-policies-prototype/blob/gh-pages/_policies/italy.md
* [ ] Portugal: https://github.com/w3c/wai-policies-prototype/blob/gh-pages/_policies/portugal.md
* [ ] Spain: https://github.com/w3c/wai-policies-prototype/blob/gh-pages/_policies/spain.md
* [ ] Switzerland: https://github.com/w3c/wai-po

[2017-05-10 18:29] yatil commented on #186
understood.

[2017-05-10 18:30] yatil commented on #186
people just said wasted space which is why we compressed it.
probably no issue with expand/collapse.

[2017-05-10 18:31] yatil opened #189 "Update submission form for multi-language input"
This still needs to be done by me.

Rel. #178.

[2017-05-10 18:31] yatil commented on #177
Tackle with #189.

[2017-05-10 18:40] slhenry commented on #186
agree wasted space when it was just one column.

[2017-05-10 18:44] slhenry opened #190 "Add or Update Listing more findable"
Norah in [survey](https://www.w3.org/2002/09/wbs/35532/EO-Weekly-5-May-2017/results#xq2):

easily overlooked where it is located under the left navigation Contents
listing. At a glance, the section looks more like summary or descriptive
information rather than an invitation to the user to submit or update a
policy (even though it is clearly labeled, I think it could be overlooked
in that location

[2017-05-10 18:46] slhenry commented on #183
I think this should be done before launch.

[2017-05-10 19:35] maryjom commented on #188
This is a duplicate of #133. I am aware of the remaining countries missing info and have people on it.  Spoke with Robert about this on Monday and we agreed that if I fail to get the info prior to AccessU I'll simply delete the dummy country entries.

[2017-05-10 19:35] #188 closed

[2017-05-10 20:37] slhenry opened #191 "Consistency of "Policy", "Law", "Legislation", other"
Current filter headings:
* Filter policies to show
* Type of Policy
* Scope of Policy

**Suggested filter headings:**
* Filter laws and policies to show
* Type
* Scope

Current table column headings:
* Law/Legislation Name
* Type (Policy, law, legislation, etc.)
* Scope

**Suggested table column headings:**
* Name
* Type (Policy, law, legislation, etc.)
* Scope

[2017-05-10 20:40] yatil commented on #187
Let’s defer the arrow images/icons until we have the new design which will bring icons for this.

I have added a space between the table header and the arrows in aaef276248be5c27b898a57f4dace80dff05eb8a.

[2017-05-10 21:01] yatil commented on #186
we’re constrained with the html due to how the script works. older browsers have a three column layout now, modern browsers get this enhanced version: https://dsc.cloud/yatil/Screen-Shot-2017-05-10-22-59-01

[2017-05-10 21:12] slhenry commented on #186
+1 !

[2017-05-10 21:13] slhenry commented on #186
(if easy, could add space above Scope so it's a little more separated from the one above it. :-)

[2017-05-10 21:15] slhenry commented on #133
I will reach out to known people and ask them to submit data, e.g,. Helle can probably give us Denmark.

[2017-05-10 21:17] iamjolly commented on #186
Something like this?
![screenshot 2017-05-10 15 16 35](https://cloud.githubusercontent.com/assets/1093423/25921728/c66ae9f6-3593-11e7-8172-2c60185726f5.png)

[2017-05-10 21:23] slhenry commented on #186
+1 to @iamjolly  -- I think that improves usability

[2017-05-10 21:27] slhenry opened #192 "Intro copyedit"
Norah in [survey](https://www.w3.org/2002/09/wbs/35532/EO-Weekly-5-May-2017/results#xq2):

"This page lists some governmental policies related to web accessibility, although it is not a comprehensive or definitive listing." change to:
"This page lists a number of governmental policies related to web accessibility, although it is not a comprehensive or definitive listing."

[2017-05-10 21:28] slhenry commented on #192
"a number" seems harder to parse, maybe just deleting "some" ?

[2017-05-10 21:33] yatil commented on #186
I will align the scope to the bottom of the grid – I meant to do that. (It would be good if we would not work on the same issues at the same time :-)

[2017-05-10 21:34] iamjolly commented on #186
Thanks @yatil - Your solution is the better one, I think.

[2017-05-10 21:39] #186 closed

[2017-05-10 21:43] slhenry commented on #133
I sent e-mail to Helle (off list because I didn't want to spread her personal email address).

I sent https://lists.w3.org/Archives/Public/wai-eo-editors/2017May/0004.html

I'll send some more when I can.

And, once we're ready, we can do a call to WAI IG for more. ***but*** let's **wait** until we have our processes in place for reviewing, approving, and posting submitted info.

[2017-05-10 22:39] #192 closed

[2017-05-10 22:54] #191 closed

[2017-05-11 03:34] #19 closed

[2017-05-11 03:41] iamjolly commented on #190
This is something worth discussing on Friday's call. I don't mind it being in either place, but it doesn't make sense to have it in both the intro and the left column, especially considering all of the concerns that have been raised regarding simplifying the user interface.

[2017-05-11 03:48] #184 closed

[2017-05-11 04:02] eogitbot opened #196 "New Entry for Freedonia"
New Entry for Freedonia

Submitted by [Rufus T. Firefly](mailto:hkramer@atsol.us):

[code]

[2017-05-11 07:23] #185 closed

[2017-05-11 07:34] yatil opened #197 "Do we need breadcrumb?"
Seems to be redundant with the navigation…

[2017-05-11 11:55] iamjolly commented on #197
Related to #183.

On country pages, we need either the breadcrumb or side navigation to return to the main page with the summary table.

Thoughts, @slhenry or others?

[2017-05-11 12:31] yatil commented on #197
We have the side navigation, maybe we can word the link to home more clearly and avoid the repetition of the breadcrumb.

[2017-05-11 12:57] #196 closed

[2017-05-11 12:58] slhenry commented on #197
Yes, please add a breadcrumb overall. (That might change with site redesign later).

On WAI pages that don't have the WAI nav on the left, we include a breadcrumb,

Here's the [example breadcrumb](https://www.w3.org/WAI/EO/Drafts/template-no-nav)

[2017-05-11 13:51] slhenry commented on #183
This looks good! We can close it, yes?

[2017-05-11 13:52] iamjolly commented on #183
Yes!

[2017-05-11 13:52] #183 closed

[2017-05-11 13:53] slhenry commented on #49
+1 to close this issue

[2017-05-11 13:54] iamjolly commented on #49
Closing. Thanks all!

[2017-05-11 13:54] #49 closed

[2017-05-11 14:37] slhenry opened #199 "feedback box"
Add the standard feedback box to the bottom WITH EDITS to include the "Submit an Update" button/link AND clarification that listing info should go there, and comments on the UI, etc. can go to GitHub (or email)

[2017-05-11 14:41] slhenry opened #200 "[minor - low priority] spacing"
Less space after "Terms used on this page" heading and the list underneath it.

[2017-05-11 15:35] maryjom opened #201 "When policies page goes live: be sure links from other EOWG/WAI to point to it"
Don't know how many pages link to the policies page, but they'll need to be updated to point to the new page I think, unless you copy over to a file with the same name as the old one.

They'll also need updated link text for the new title.

Here's one page I found that has a link: https://www.w3.org/WAI/managing

[2017-05-11 16:25] iamjolly commented on #200
@slhenry - How does this look now (pushed an update)?
![screenshot 2017-05-11 10 24 18](https://cloud.githubusercontent.com/assets/1093423/25960425/20cbd946-3634-11e7-990c-54e0d0f0176a.png)

[2017-05-11 17:14] yatil commented on #197
@slhenry What would be the complete path to the overview pages?

[2017-05-11 18:13] slhenry commented on #200
nice!

[2017-05-11 18:13] #200 closed

[2017-05-11 19:55] slhenry commented on #197
Site Navigation: W3C Home > WAI Home > [Planning and Implementing Web Accessibility](https://www.w3.org/WAI/managing)

[2017-05-11 20:53] maryjom commented on #173
To me, ask for a translation of the name. I thought you had implemented these things in the prototype, as they are showing up with multiple languages already.  But if more work is needed, I'm OK with moving it to post-launch, as long as Shawn agrees.  She was the one that was most concerned with these multi-language things and using an English name link that goes to a different language website.

[2017-05-12 12:53] dboudreau commented on #190
I lean towards keeping it in the left column under the countries box, but if we feel like it also needs to be a part of the introduction, then I can live with that, too.

[2017-05-12 13:07] slhenry commented on #190
Discussed in 12 May teleconference. Agreed to leave sidebar, and add simple sentence (no button) in intro.

[2017-05-12 13:17] slhenry commented on #201
I'm planning to put it at the same URI as the previous version.

We'll need to update the title in https://www.w3.org/WAI/managing is the main page, also the nav, and a few other pages -- although that might not be high priority to do before/with launch.

[2017-05-12 13:18] slhenry commented on #178
Oh, dear, I'm afraid that we had a misunderstanding :-(((

[2017-05-12 13:34] maryjom commented on #176
While this page contains interesting information, it also contains old information. It talks about the 508 refresh "draft" which is no longer true.

[2017-05-12 13:52] maryjom commented on #201
Yes, but with change in title the link text will be incorrect.

[2017-05-12 14:38] yatil commented on #173
Yes, this was implemented, @maryjom, sorry for the confusion. I even think it’s ok with Ministries now.

[2017-05-12 14:38] #173 closed

[2017-05-12 19:54] maryjom commented on #176
I think I just found the updated link: [About the Update of the Section 508 Standards and Section 255 Guidelines for Information and Communication Technology](https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-ict-refresh/overview-of-the-final-rule) and will add it.

[2017-05-12 20:03] maryjom commented on #176
Resource added.

[2017-05-12 20:03] #176 closed

[2017-05-12 20:10] maryjom commented on #35
@yatil One more case to take care of. See France. The title of the French standard in the standards.yaml file is French. Great job on the others though!

[2017-05-13 07:55] yatil commented on #178
So, do we want to keep the language indicator or not?

I understand that this might not be _needed_, but it might be helpful.

[2017-05-13 20:03] mitchellevan opened #204 "Provide definitions for the options under "Type of Policy""
Rebecca's feedback (1 of 2):

I received this feedback about the Web Accessibility Policy submission form from Rebecca Sheffield --
 https://www.linkedin.com/in/rebeccasheffieldphd/

Rebecca's last sentence suggests an additional functional enhancement, to ask the submitter to identify the agency that issued a regulation. However, we can address this concern to some extent through definitions of t

[2017-05-13 20:14] mitchellevan opened #205 "Align the submission form and database with UN CRPD articles and objectives related to technology"
Rebecca's feedback (2 of 2):

I understand that the intent of this form/table is to gather information about laws and policies specific to Web Accessibility. Looking towards the future, it would be interesting to tie in/align questions with the CRPD articles and objectives related to technology. This would be information that countries should already be looking for in writing their reports to the

[2017-05-15 16:09] slhenry commented on #178
Note: another option is to put it at the end of the link instead of the beginning.

I've added to [feedback questions](https://www.w3.org/WAI/EO/wiki/EOWG_F2F_May_2017#Things_to_check_on:). Let's leave as is for now and revisit at the F2F, hopefully after getting some user feedback (albeit from limited perspectives)

[2017-05-17 07:04] maryjom opened #209 "Submit an update button doesn't work on country pages"

[2017-05-17 10:20] #209 closed

[2017-05-17 10:23] yatil commented on #204
Hi @mitchellevan, thanks for the testing. I’ll make sure we have the definitions in the form. The issuing government agency would be captured in the “responsible entities” field, so I think we’re ok on that front.

[2017-05-17 10:25] yatil commented on #205
I like the idea, the question is how to gather that data/progress. Is this published by the UN? We don’t want to interpret the laws/policies ourselves. (I also think it would be a different, but related resource.)

[2017-05-17 21:22] eogitbot opened #211 "Update for Testing FRD"
Update for Testing FRD

Submitted by [Pierce Arner](mailto:pierce@instructure.com):

[code]

[2017-05-17 21:24] eogitbot opened #212 "New Entry for cvhj"
New Entry for cvhj

Submitted by [fghjk](mailto:pirce@instruture.com):

[code]

[2017-05-18 03:17] slhenry commented on #197
looks  like breadcrumb is missing > Planning and Implementing Web Accessibility

[2017-05-18 04:04] iamjolly commented on #197
Added missing crumb and closing! Hansel and Gretel will return home safely. :)

[2017-05-18 04:16] slhenry commented on #197
thanks for the chuckle!!!

[2017-05-20 15:45] maryjom opened #213 "Ability to remove added entities, reference documents, etc. in the form"
User testing: If you added additional entities, should there be an option to remove any of them if you added additional fields by accident and wanted to remove the?

[2017-05-20 15:47] maryjom opened #214 "User testing: Additional term definitions needed"

[2017-05-20 15:48] maryjom opened #215 "Link issues found during user testing"
Some link issues found in user testing.
- Australia – procurement standard relevant document links to wrong place
- Canada – related page link isn’t working
- China web standard should be the direct link, not the Google redirect.
- Ireland – Responsible entity link – use http not https

[2017-05-20 15:51] maryjom opened #216 "WCAG version used filtering bug with the number of "items" vs. "add""
If you have a WCAG version used item, and then in the Type you pick one with 0 items then the text on that (0 items) shows (add). Should stay at (0 items)

[2017-05-20 16:13] maryjom commented on #214
User testing reveals they want some additional term definitions:

- procurement
- procurement recommendation
- mandatory policy

[2017-05-20 16:14] yatil opened #217 "Different background color for the left navigation"
As discussed in the F2F meeting in Austin on 2017-05-20.

[2017-05-20 16:17] slhenry commented on #217
So that it is differentiated from the main WAI nav that is throughout the WAI website.

... In response to user feedback  sessions.

maybe the yellow from https://www.w3.org/WAI/users/inaccessible

[2017-05-24 20:23] maryjom commented on #212
This was submitted as a test. Closing.

[2017-05-24 20:23] #212 closed

[2017-05-24 20:23] #211 closed

[2017-05-24 20:26] maryjom commented on #205
I only see a potential expansion to include all types of ICT in a later version of the policies page so it doesn't simply focus on just web content. This is because WCAG is being used by policy makers in for non-web software, non-web documentation.  Since this is a W3C resource, we have to limit its scope simply to that.

[2017-05-24 20:31] iamjolly commented on #199
@slhenry - Is this for the submission form (add/update a policy form page) or is this a footer change across all pages?

[2017-05-24 20:37] maryjom opened #218 "Update policies comments to not reference "policies prototype""

[2017-05-24 20:40] maryjom opened #219 "Pre-populate submission form with policy data"
If someone wants to update an existing policy, pre-populate the submission form with the current data for that country.

[2017-05-24 20:41] maryjom opened #220 "Change submission form for policy type to be radio buttons - not checkboxes"

[2017-05-24 20:42] yatil commented on #199
It’s this box: https://www.w3.org/WAI/gettingstarted/tips/index

[2017-05-24 20:42] maryjom opened #221 "Clarify what happens when user submits the form near the submit button"

[2017-05-24 20:46] maryjom opened #222 "Items in other languages as sub-bullets of the English one"
When there are multiple language translations of an agency or standard, etc. make the additional languages sub-bullets under the English one for better visual organization.

[2017-05-24 20:47] maryjom opened #223 "When table gets longer may want a region filter for the summary table"

[2017-05-24 20:49] yatil commented on #216
Does that mean that we don’t want the “add” functionality? If we want to keep the “add,” we have a label that is even easier to understand, if we keep “(0 items)”. (If anything it should probably be “(x items),” as it adds items.)

No matter what we decide, I need to deviate quite a bit from the standard code of the filter library.

[2017-05-24 20:49] iamjolly commented on #199
Thank you @yatil - that makes sense

[2017-05-24 23:08] maryjom commented on #221
@iamjolly I added a sentence right before the submit button. Feel free to edit as you add the "standard" feedback box.  I did this because I was already touching this file.

[2017-05-25 04:34] mitchellevan commented on #205
Thanks for the questions and comments. I've asked Rebecca Sheffield to respond.

[2017-05-25 05:30] maryjom commented on #218
Fixed in pull request 225.

[2017-05-25 05:30] #218 closed

[2017-05-25 05:52] maryjom commented on #215
China was fixed with pull request 225, as I found a better link to a more recent document. The rest were fixed with pull request 226.

[2017-05-25 05:52] #215 closed

[2017-05-25 06:20] #220 closed

[2017-05-25 06:23] #221 closed

[2017-05-25 06:26] iamjolly commented on #217
This is complete. @slhenry :: I didn't use the same yellow, as it seems too bright and clashes with the overall palette of the site. Using a color that is less "bright" but still has 10.5:1 contrast ratio with text.

[2017-05-25 06:50] #199 closed

[2017-05-25 11:14] yatil opened #227 "Fix Mobile View"
Has horizontal scrolling, table needs to be linearized
![img_1277](https://cloud.githubusercontent.com/assets/58862/26448134/5d93e804-4111-11e7-9b8d-f13cbd0dbf24.PNG)
![img_1278](https://cloud.githubusercontent.com/assets/58862/26448135/5da99640-4111-11e7-9aef-d1b0363d01db.PNG)
![img_1279](https://cloud.githubusercontent.com/assets/58862/26448136/5dab409e-4111-11e7-9cdc-0c60cc58622d.PNG)

[2017-05-25 11:15] yatil commented on #227
I'll take care of this today.

[2017-05-25 15:15] yatil commented on #178
I think we did not get a lot of feedback – if any – during AccessU. I’ll move the language indicator to the end of the link, we will also have the different languages as a list, from AccessU feedback in #222.

[2017-05-25 15:20] yatil commented on #217
There is still blue left behind the current navigation item: https://dsc.cloud/yatil/Screen-Shot-2017-05-25-10-19-15

[2017-05-25 15:22] iamjolly commented on #217
That was intentional but... if it seems odd or confusing I can make that the same color as the country list. I will do that and then we can see if it works well or needs more massaging.

[2017-05-25 15:25] yatil commented on #217
Ah, I see it. I think it would be less confusing if the color of the active item was different. This way, it looks broken to me. I like having the blue on the sub-pages, only the treatment on the top-level page got me confused.

[2017-05-25 15:37] #216 closed

[2017-05-25 16:20] #178 closed

[2017-05-25 16:20] #222 closed

[2017-05-25 17:32] iamjolly commented on #227
Submission form needs a little love (but not much) for small screens.
![img_5314](https://cloud.githubusercontent.com/assets/1093423/26462380/c2d5c56c-413d-11e7-81e5-9aea9ef2be09.PNG)

[2017-05-25 17:57] yatil commented on #227
@iamjolly True!

[2017-05-25 20:34] slhenry commented on #201
I'll update the pages. Eric - would you update the navigation?

[2017-05-25 20:47] yatil commented on #201
Sure, @slhenry!

[2017-05-25 22:30] slhenry commented on #217
Why introduce a new color to the WAI website? I thought at the f2f we talked about just making it white background. Does that work?

[2017-05-26 00:47] maryjom commented on #190
I also added a sentence in the intro about the ability to submit updates.

[2017-05-26 00:48] #214 closed

[2017-05-26 00:50] maryjom commented on #177
@yatil I already fixed the URI and changed to URL. You can do the rest.

[2017-05-26 01:14] maryjom commented on #204
@yatil I'm not sure how to code this properly. Would the definition be part of the label, or an additional ARIA type of label that the checkbox would be aria-describedby?  If I provide the definitions, could you code it up as you see best?

Accessibility law - A general accessibility law that has a broad scope of non-descrimination, accessible technology, employment and/or other topics.
Non-discri

[2017-05-26 01:20] yatil commented on #177
Thanks @maryjom!

[2017-05-26 01:25] yatil commented on #217
White would look broken to me. Yellow is really ugly. As this color will only be on the site for a few weeks, I vote for leave as is or revert to the blue color.

[2017-05-26 01:39] slhenry commented on #217
/me thinks the tan is really ugly :)
/me objects to the blue 'cause it means overall WAI site nav.

can we look at draft with white to confirm it really looks broken to you? ;-)

/me thinks "a few weeks" is wildly optimistic :/ *and* we will be announcing this widely and I expect it to gets lots o' attentions before it is redesigned.

[2017-05-26 01:48] yatil commented on #217
/me think the confusion with main site nav is not a problem because it is redundant. From my POV we could get rid of the left column altogether. It is still handy, so I’d leave it.

I just want to keep us focused and not distracted by minutiae.

[2017-05-26 02:03] iamjolly commented on #190
Hi @maryjom --- there was already a sentence added in the first paragraph with a link. Do you want to consolidate these two into one? I think it's needed now.

[2017-05-26 02:24] yatil commented on #217
White. Looks completely like from another universe:
https://dsc.cloud/yatil/Screen-Shot-2017-05-25-21-22-21

[2017-05-26 02:30] slhenry commented on #217
I like it. Call me an alien. :)

[2017-05-26 03:18] iamjolly commented on #217
White is jarring but less so than the yellow. Since the color is relatively trivial and will change with the redesign, I'm happy to go with the flow.

[2017-05-26 13:50] slhenry commented on #217
um - I think I meant the background of the page, not actually white. :-/

That should be less jarring. Good compromise for now?

[2017-05-26 14:00] slhenry commented on #197
breadcrumb should be far left, in the nav area - note from [above](https://github.com/w3c/wai-policies-prototype/issues/197#issuecomment-300780987):

:-)

Don't need to hold up first publication for it, though.

[2017-05-26 15:48] iamjolly commented on #217
Seems like a good enough compromise for now. Thanks!

[2017-05-26 15:48] #217 closed

[2017-05-26 16:04] yatil commented on #197
Modified the breadcrumb exactly after the example.

[2017-05-26 16:04] #197 closed

[2017-05-26 16:15] #177 closed

[2017-05-26 17:31] RebeccaMSheffield commented on #205
hi all - I'm new to github as of today, so apologies if the links and such in this post are not formatted correctly

The United Nation's Office of the High Commissioner for Human Rights posts all the country reports on implementation of the UN Convention on the Rights of Persons with Disabilities here: [http://tbinternet.ohchr.org/_layouts/treatybodyexternal/TBSearch.aspx?Lang=en&TreatyID=4&DocTyp

[2017-05-26 18:48] maryjom commented on #190
Didn't realize that. Ok we should consolidate it.  You want to do it or me?

[2017-05-26 19:06] iamjolly commented on #190
No worries. If you can tackle that, I would be most grateful! :)

[2017-05-27 13:57] #204 closed

[2017-05-27 13:57] #213 closed

[2017-05-27 17:31] #227 closed

[2017-05-30 23:21] #35 closed

[2017-05-31 20:50] slhenry opened #229 "submission form title & h2 & breadcrumb"
I think change title to:

I think do not need the [h2] that's there now.

Add breadcrumb.

[2017-05-31 20:55] slhenry opened #230 "submission form - note publicly available"
I think tweak (at top and bottom):

to something like:

and at the bottom:

to something like:

[2017-05-31 20:57] slhenry opened #231 "submission form - country list?"
Do we want the country list on this page, or is it unnecessary complexity?

I assume we don't want the "Add or update listings" section...

[2017-05-31 21:05] iamjolly commented on #231
I like having the countries list on the submission page for consistency, and also for jumping to a country page to see what's there (perhaps that's an edge case I'm imagining).

@slhenry - You're right that we don't want the add/update listings section. About to get that removed from the sidebar include file for that page.

[2017-05-31 21:09] slhenry opened #232 "[low, later] Help improve this page"
I wonder about moving the "Help improve this page" box from the bottom to the left column?

Maybe let's wait and see how things pan out with the redesign...

[2017-05-31 21:19] slhenry opened #233 ""Add or update listings" - paragraph text black"
I think make the text black, not blue, since it's not clickable.

[2017-05-31 21:23] #229 closed

[2017-05-31 21:23] slhenry opened #234 "WCAG - spell out in first reference :-)"

[2017-05-31 21:27] maryjom commented on #189
@yatil Is this issue handled with the code from #177 or is there something additional to do here?

[2017-05-31 21:31] #230 closed

[2017-05-31 21:40] #190 closed

[2017-05-31 21:48] #233 closed

[2017-05-31 21:51] #234 closed

[2017-05-31 21:53] iamjolly commented on #189
I think this is something else to be done here, but it is **not** a launch-stopping issue IMO.
My understanding is that there will be a way to specify the language of links/resources added to the form itself.

Moving to Post-Launch milestone for the remaining work on this one.

[2017-05-31 21:56] iamjolly commented on #232
💯 to that! :)

[2017-05-31 21:58] slhenry commented on #229
In the breadcrumb, "Web Accessibility Laws and Policies" should go to
https://www.w3.org/WAI/Policy/Overview

... at least when we launch. Unless y'all have that set to fix itself programmaticly, I suggest we go ahead and put the right URI so we don't forget to change it when we publish :)

[2017-05-31 22:11] iamjolly commented on #229
We have the breadcrumbs pointing to the correct landing page for Policies dynamically, so we'll just want to confirm that when we launch it.

[2017-05-31 22:15] #133 closed

[2017-05-31 22:17] iamjolly opened #237 "Mixed content warning (HTTPS vs HTTP) on policies main page"
Culprit for this issue is the back to top PNG arrow called from the wai-main.css file using an absolute URL using http://
<img width="1235" alt="screenshot 2017-05-31 16 10 44" src="https://cloud.githubusercontent.com/assets/1093423/26656407/30486d60-461c-11e7-91d8-20b3af06b409.png">

I will override the `totop` call for the background image and use a protocol-relative URL for now.

[2017-05-31 22:24] #237 closed

[2017-06-01 00:52] yatil commented on #189
This is still open, I try to work on it in the next few days – totally not a shop stopper :-)

[2017-06-01 10:34] eogitbot opened #238 "New Entry for Covfefe Land"
New Entry for Covfefe Land

Submitted by [Testy Tester](mailto:mail@yatil.net):

[code]

[2017-06-01 10:36] #238 closed

[2017-06-01 10:38] yatil commented on #231
+1 for keeping the country list. It is very empty otherwise. And it helps users to go to other pages if they are unclear on the meaning of a field…

[2017-06-01 10:38] yatil commented on #232
We always have the “Help improve this page” box in the main column in the old layout.

[2017-06-01 10:39] yatil commented on #189
Done!

[2017-06-01 10:39] #189 closed

[2017-06-01 11:14] #231 closed

[2017-06-02 19:42] maryjom opened #239 "[low/later] Widening of browser window places filters to the left of the summary table"
I have a very wide screen and when I expand the browser window to the size of my screen the filters will move to the left of the summary table, causing the table to squish back down to a narrower view.  I'd like those filters to remain on top of the table.

[2017-06-02 19:50] maryjom opened #241 "[low/later] Find out if French policy is mandatory or voluntary and mark it so"
The summary table shows the French policy as simply "policy" and it should say if it's mandatory or voluntary. This will take some investigation, but I don't think we need to hold up the publication of the page for this minor update.

[2017-06-03 20:56] #239 closed

[2017-06-05 20:01] slhenry opened #242 "bug - position of table relative to filers"
zoomed out and table moved to right of filters

![image](https://cloud.githubusercontent.com/assets/6991814/26800600/8357c546-49ff-11e7-8559-b4242fa5430c.png)

[2017-06-05 20:42] iamjolly commented on #242
@slhenry - I'm wondering if you can check to see if your css may be cached. Perhaps you can do a force reload/refresh and see if the problem persists. If it is still happening, will you let me know what browser and OS you're using?

Here are screenshots of Windows 10 on a 34" ultra-wide monitor using Firefox, IE 11, and Chrome.
<img width="1713" alt="win10-chrome" src="https://cloud.githubusercont

[2017-06-05 21:51] slhenry commented on #242
worky now

[2017-06-05 21:51] #242 closed

[2017-06-05 21:53] slhenry opened #243 "meta data for social media etc."
Here are [options for thumbnail images](https://lists.w3.org/Archives/Public/wai-eo-editors/2017Jun/0003.html)

[2017-06-06 16:36] slhenry opened #244 "take "WAI" out of <title>"

[2017-06-06 16:42] slhenry commented on #201
Eric - please move it to the top of the list under "Policy Resources". ping me if questions. thanks!

[2017-06-06 17:06] #244 closed

[2017-06-07 11:25] eogitbot opened #245 "New Entry for Testing submission form"
New Entry for Testing submission form

Submitted by [Eric](mailto:ee@w3.org):

[code]

[2017-06-07 11:25] #245 closed

[2017-06-07 11:44] yatil commented on #243
I did upload the pages.
I did not receive any metadata for social media or otherwise, so I did not include it. The proposed thumbnail images do not meet the requirements of social networks and are very blurry and not welcoming.

For the previous policies document we had the following metadata (thanks to @lakeen):

* Title: Policies Relating to Web Accessibility (**Now: Web Accessibility Laws and P

[2017-06-07 16:00] yatil commented on #243
Talked to @slhenry,

* We don’t want to list all the countries as tags but use the types (policies, laws, …)
* use this sentence from the intro for the description: “Lists governmental policies relating to web accessibility in countries and regions around the world.”
* For the sharing image, I will make a screenshot of the page. We both agreed that we need a template for those images but did not w

[2017-06-07 20:26] eogitbot opened #246 "New Entry for United States/Washington State"
New Entry for United States

Submitted by [Ryan Leisinger](mailto:ryan.leisinger@watech.wa.gov):

[code]

[2017-06-08 09:25] #243 closed

[2017-06-08 09:30] yatil opened #247 "Correct entry for Germany"
The page says BITV is an “Accessibility law,” but to be correct, it should be an “Ordinance.” I think to simplify the interface; we could just use “Policy” which sounds very similar (to me).

(No, I don’t now why I didn’t see it before.)

/via @tcaspers on twitter: https://twitter.com/tcaspers/status/872743409550753794

[2017-06-08 09:31] yatil commented on #247
@maryjom Can you indicate if that is OK or if we need the “Ordinance” category… I am happy to make the changes once confirmed.

[2017-06-08 16:38] maryjom commented on #247
I guess I don't understand.  What is an "ordinance"?

[2017-06-08 16:48] tcaspers commented on #247
@maryjom An ordinance is a kind of a statutory instrument one or two notches below a proper law that (German?) gov’t can use to issue a legally binding decree. But then again, I’d be fine with policy as well…

[2017-06-09 08:36] eogitbot opened #248 "New Entry for Taiwan"
New Entry for Taiwan

Submitted by [Marisa](mailto:marisa@mail.cisanet.org.tw):

[code]

[2017-06-10 14:42] eogitbot opened #249 "New Entry for Sweden"
New Entry for Sweden

Submitted by [Mischa Andrews](mailto:mischa.andrews@gmail.com):

[code]

[2017-06-12 00:31] eogitbot opened #250 "Update for Turkey"
Update for Turkey

Submitted by [Mehmet KIZILASLAN](mailto:Sahinbeybelediye27@hotmail.com):

[code]

[2017-06-12 01:24] iamjolly commented on #250
Turkish spam is tasty spam.

[2017-06-12 01:24] #250 closed

[2017-06-12 07:17] yatil commented on #250
Oh, it looks like I forgot to put the Honey Pot back in… #spammersgonnaspam

[2017-06-12 07:18] yatil opened #251 "Add Spam protection"
We had a honeypot on the form that got lost (probably by me 😵) I’ll put it back.

[2017-06-16 12:24] eogitbot opened #252 "Update for 555-555-0199@example.com"
Update for 555-555-0199@example.com

Submitted by [Peter Winter](mailto:winter@example.com):

[code]

[2017-06-19 09:07] eogitbot opened #253 "New Entry for Norway"
New Entry for Norway

Submitted by [Dagfinn Rømen](mailto:dro@difi.no):

[code]

[2017-06-22 00:35] a11ycob opened #255 "[WAI Web Accessibility Laws and Policies]"
This is a comment related to the [WAI Web Accessibility Laws and Policies](//w3c.github.io/wai-policies-prototype/)

the following link is broken http://w3c.github.io/WAI/Policy/CA-Provinces.html from the above page

[2017-06-22 05:10] eogitbot opened #256 "Update for France"
Update for France

Submitted by [www.linux.net](mailto:chanelgloeckner@yahoo.de):

[code]

[2017-06-22 16:00] iamjolly commented on #255
Thank you for catching that broken link, @a11ycob. We'll update the Canada policy page shortly with the corrected URL in the link.

[2017-06-22 16:12] yatil commented on #255
Done!

[2017-06-22 16:12] #255 closed

[2017-06-22 16:12] #252 closed

[2017-06-22 17:40] a11ycob commented on #255
Thanks, Eric!

Chris O’Brien
Accessibility Officer
416-818-9411
ami.ca<http://www.ami.ca/>
Facebook<https://www.facebook.com/AccessibleMediaInc> | YouTube<https://www.youtube.com/user/AccessibleMedia> | Twitter<https://twitter.com/AccessibleMedia>
[AMI: Accessible Media Inc]

From: Eric Eggert [mailto:notifications@github.com]
Sent: Thursday, June 22, 2017 12:12 PM
To: w3c/wai-policies-prototype <

[2017-06-25 10:19] eogitbot opened #257 "Update for France"
Update for France

Submitted by [www.linux.net](mailto:christianepeter@gmail.com):

[code]

[2017-06-25 11:08] #257 closed

[2017-06-25 11:08] #256 closed

[2017-06-28 10:03] yatil commented on #241
@notabene Can you comment on this? :-)

[@maryjom, @notabene is a new participant in EOWG from France, so that should shortcut the investigation time significantly! :-D]

[@notabene Now you see what you got yourself into! ;-)]

[2017-06-28 10:04] yatil commented on #246
This is for the State of Washington. We will need to add data files for that information relatively soon.

[2017-06-28 10:10] yatil commented on #247
I have fixed the issue in Pull Request #258. @maryjom can you review it to make sure I didn’t screw up the nomenclature ;-)

[2017-06-28 10:11] yatil commented on #232
I am closing this issue, let’s see for the redesign. (It should have a flexible module that can be placed where ever we want it.)

[2017-06-28 10:11] #232 closed

[2017-06-28 10:14] yatil commented on #223
Would the region filter be by continent? And what if a country is in two continents (Russia, Turkey)? Which continent is Iceland on? (I think it’s Europe…)

[2017-06-28 10:15] yatil commented on #201
I think this has been addressed.

[2017-06-28 10:15] #201 closed

[2017-06-28 10:17] yatil commented on #180
So, this is for Texas. The question is if we need to repeat Section 508 on every state entry?

I’d like your inputs, @maryjom and @sharronrush.

[2017-06-28 10:19] yatil commented on #42
Can we get a straw poll if we need this. It is fairly easy to implement, and it would be auto-updating (thanks to JavaScript), so if we don’t update it, the indicators just disappear (or rather: get not applied).

[2017-06-28 12:48] notabene commented on #241
[haha @yatil 😄 ]

@maryjom I would say mandatory by default, can you be more specific as to which law so that I can elaborate?

[2017-06-28 12:50] notabene commented on #241
Also, this pull requester person is me too:
https://github.com/w3c/wai-policies-prototype/pull/254
😉

[2017-06-28 14:06] maryjom commented on #180
@yatil There is a states page.  It would go in there.  Not all states have the same policies.

[2017-06-28 14:26] yatil commented on #180
@maryjom Yes. But the states pages are currently outside of the data model :-) Above is “GSA Section 508” which seems the same (?) as “Section 508”. Does Section 508 automatically apply to the states or not? (The wording “paragraphs (a) through (p), excluding paragraphs (b) and (k)” says to me that it does not necessarily apply to all states.)

[2017-06-28 14:45] maryjom commented on #180
@yatil No, 508 doesn't automatically apply to states.  It only applies to U.S. Federal.

[2017-06-28 16:50] iamjolly commented on #42
@yatil and @slhenry - I like the idea of a "freshness indicator" for policies, provided it doesn't create any maintenance work to remove it. Sounds like that is the case with a JS-based approach.

I feel like the design of this will determine how much of a good thing it will be helpful and unobtrusive being my factors for what "good" is for this).

[2017-06-28 17:07] iamjolly commented on #223
If countries could belong to two regions, that would work for me.
Having a countries list (or select list) seems like it would be too many.

If it's possible to use something like [select2](https://select2.github.io/examples.html) then maybe we can provide a good UX for all countries listings.

[2017-06-30 06:04] eogitbot opened #259 "New Entry for Republic of Korea"
New Entry for Republic of Korea

Submitted by [BANG MIHEE](mailto:izamlover@gmail.com):

[code]

[2017-07-03 06:34] eogitbot opened #260 "Update for b.n"
Update for b.n

Submitted by [Rahman ](mailto:mytube161@outlook.com):

[code]

[2017-07-03 09:14] #260 closed

[2017-07-06 19:56] goodwitch opened #261 "[WAI Web Accessibility Laws and Policies]"
This is a comment related to the [WAI Web Accessibility Laws and Policies](//w3c.github.io/wai-policies-prototype/).  I thought the "Web and Mobile Accessibility Directive" in the "European Union" only currently has the public sector in scope.  I think it does not yet include private sector.  But in the table at https://www.w3.org/WAI/Policy/ the scope is listed as "private".  So...I'm I wrong?  O

[2017-07-06 20:11] iamjolly commented on #261
Thanks for the thoughtful question, @goodwitch.

Page 16 of the standard's PDF (English version) states:

So, you are correct that the standard is intended for public entities. However, it does apply to private entities (think Microsoft, Apple, and other companies) who sell products and services to governments and public-sector organizations.

I don't think you're wrong, but I also don't think it'

[2017-07-06 20:55] eogitbot opened #262 "New Entry for الامم"
New Entry for الامم

Submitted by [فيصل](mailto:fasool9870@gmail.com):

[code]

[2017-07-06 20:56] eogitbot opened #263 "New Entry for الامم"
New Entry for الامم

Submitted by [فيصل](mailto:fasool9870@gmail.com):

[code]

[2017-07-06 21:01] iamjolly commented on #263
spam

[2017-07-06 21:01] #263 closed

[2017-07-06 21:01] iamjolly commented on #262
spam

[2017-07-06 21:01] #262 closed

[2017-07-06 21:53] goodwitch commented on #261
Ahhhhh...then I'd love to see that distinction made clearly.  Perhaps we have clear scope definitions for

- Public Sector
- Private Sector (when selling to Public Sector)
- Private Sector

Because...I worry that if we include the "selling to public sector"...then all of these laws apply to Private Sector (when doing business with the public sector).  I know that private companies really are looki

[2017-07-07 03:30] eogitbot opened #264 "New Entry for ru"
New Entry for ru

Submitted by [Ia](mailto:larisa34russ@Gmail.com):

[code]

[2017-07-07 03:59] yatil commented on #264
Nope ;-)

[2017-07-07 03:59] #264 closed

[2017-07-07 11:16] yatil commented on #261
IMHO we should only list who is directly affected by the regulation, in this case, the public sector. It already says that it’s a procurement regulation, so it is procurement by the public sector.

[2017-07-07 11:17] yatil commented on #261
I’ve assigned @maryjom, @slhenry, @sharronrush and @bakkenb to see if they have an opposite opinion. :-)

[2017-07-07 11:54] yatil commented on #261
Also summon @nitedog, because he knows everything!

[2017-07-07 12:00] sharronrush commented on #261
Yes, I agree with @yatil . The listing should indicate public sector and a note may be made about vendors who sell to them.  Glenda's point about trying to determine in what parts of the world my private business web site must be accessible is not clear enough with the current conflation of public/private.  Thanks for your input @goodwitch. This is a newly revised resource and we are learning how

[2017-07-07 12:30] nitedog commented on #261
@goodwitch and @iamjolly I think you are both correct because you are both talking about slightly different things! ;-)

The EU Directive on Web Accessibility applies to a specific definition of public sector bodies (technically it excludes some types of websites, such as broadcasters, but then includes some NGOs and interest groups). See Article 3(1) of the *Directive*.

The other aspect is the s

[2017-07-07 15:12] yatil commented on #261
Thanks, @nitedog! So we should leave public and private. At least that is my impression.

[2017-07-07 15:36] maryjom commented on #261
@goodwitch Yes, it's a typo.  So many details. Thanks for catching it and keep 'em coming.

[2017-07-07 16:49] nitedog commented on #261
@yatil no - since this entry is about the *Directive* rather than the *standard* it currently uses, the correct scope is public.

[2017-07-07 16:55] iamjolly commented on #261
OK. Reading through all of this helps me make sense of things. I'll issue a PR with a change to this to remove `private` from the scope.

Thank you @goodwitch, @yatil, @nitedog, and @maryjom for both the issue and discussion.

[2017-07-07 17:42] #253 closed

[2017-07-07 17:53] yatil commented on #261
Thanks, @nitedog. Good to have you! :-D

[2017-07-07 20:40] #259 closed

[2017-07-07 20:48] #247 closed

[2017-07-07 20:48] eogitbot opened #271 "New Entry for Canada/Manitoba"
New Entry for Canada

Submitted by [Lisa Snider](mailto:web@accesschangeseverything.com):

[code]

[2017-07-07 20:51] eogitbot opened #272 "New Entry for Canada/Nova Scotia"
New Entry for Canada

Submitted by [Lisa Snider](mailto:web@accesschangeseverything.com):

[code]

[2017-07-08 00:41] slhenry commented on #261
/me transfers her vote to nitedog :-)

[2017-07-08 07:47] #261 closed

[2017-07-09 09:52] eogitbot opened #273 "Update for Việt Nam"
Update for Việt Nam

Submitted by [nguyen dinh nghi ](mailto:nghinghing7654@gmail.com):

[code]

[2017-07-09 09:57] yatil commented on #273
Spam

[2017-07-09 09:57] #273 closed

[2017-07-10 17:16] eogitbot opened #274 "New Entry for qc"
New Entry for qc

Submitted by [gab](mailto:pada666@live.ca):

[code]

[2017-07-10 17:16] eogitbot opened #275 "New Entry for qc"
New Entry for qc

Submitted by [gab](mailto:pada666@live.ca):

[code]

[2017-07-11 08:17] #274 closed

[2017-07-11 08:17] #275 closed

[2017-07-12 11:05] eogitbot opened #276 "New Entry for"
New Entry for

Submitted by [gab](mailto:pada666@live.ca):

[code]

[2017-07-12 11:06] #276 closed

[2017-07-13 10:36] eogitbot opened #277 "Update for portugal"
Update for portugal

Submitted by [rui jorge de araujo teixeira](mailto:rukat73@hotmail.com):

[code]

[2017-07-13 10:57] #277 closed

[2017-07-15 08:28] eogitbot opened #278 "Update for pada"
Update for pada

Submitted by [pada](mailto:pada666@live.ca):

[code]

[2017-07-15 08:29] eogitbot opened #279 "Update for pada"
Update for pada

Submitted by [pada](mailto:pada666@live.ca):

[code]

[2017-07-15 11:41] #278 closed

[2017-07-15 11:41] #279 closed

[2017-07-15 21:25] eogitbot opened #280 "New Entry for pada"
New Entry for pada

Submitted by [pada](mailto:pada666@live.ca):

[code]

[2017-07-16 12:52] #280 closed

[2017-07-19 02:06] eogitbot opened #281 "New Entry for pada"
New Entry for pada

Submitted by [pada](mailto:padatata187@gmail.com):

[code]

[2017-07-19 02:06] eogitbot opened #282 "New Entry for pada"
New Entry for pada

Submitted by [pada](mailto:padatata187@gmail.com):

[code]

[2017-07-19 02:06] eogitbot opened #283 "New Entry for pada"
New Entry for pada

Submitted by [pada](mailto:padatata187@gmail.com):

[code]

[2017-07-19 06:27] #283 closed

[2017-07-19 06:27] #281 closed

[2017-07-19 06:27] #282 closed

[2017-07-19 08:51] #251 closed

[2017-07-19 09:05] yatil opened #284 "Add field for WCAG derivates comments"
Norway: “WCAG 2.0, WCAG 2.0 levels A and AA, with the exception of success criteria 1.2.3, 1.2.4 and 1.2.5.”

Currently we only say WCAG 2.0 derivate, but we might want to add a comment that does not show up in the main table.

[2017-07-19 09:12] yatil commented on #241
@notabene I think it is about this policy: https://www.w3.org/WAI/Policy/policy/france/#order-of-29-april-2015-on-the-general-accessibility-framework-for-public-administrations

[2017-07-19 09:51] yatil opened #285 "Add mechanisms for Provinces/Territories/States"
Important for many countries.

Rel: #180, #246

[2017-07-21 20:46] dboudreau commented on #271
I am in the process of researching and eventually reaching out to all 10 provinces and 3 territories to find out more about the current state of standards and policies. I will be reporting results and findings as I make progress.

[2017-07-21 20:46] dboudreau commented on #272
I am in the process of researching and eventually reaching out to all 10 provinces and 3 territories to find out more about the current state of standards and policies. I will be reporting results and findings as I make progress.

[2017-07-31 13:33] notabene commented on #241
I checked it and it says that the French referential (RGAA 3.0) is approved, thus applicable, thus mandatory according to the French law (an “Arrêté” is like a Decree in French law).

So, yes, @maryjom mandatory would be better.

[2017-07-31 17:18] eogitbot opened #286 "New Entry for Malaysia"
New Entry for Malaysia

Submitted by [Wilson Chong](mailto:truelovestar88@gmail.com):

[code]

[2017-07-31 17:18] iamjolly commented on #286
spam

[2017-07-31 17:18] #286 closed

[2017-07-31 17:42] #241 closed

[2017-07-31 17:56] #248 closed

[2017-07-31 17:57] #249 closed

[2017-07-31 20:57] LisaSnider commented on #272
The only provinces that have accessibility focused laws are Ontario, Manitoba and Nova Scotia. Ontario's law is 12 years old, Manitoba is 2013 and NS is 2017. No other province or territory has an accessibility specific law that covers all aspects of life (you may find the odd health related law that includes disability). The Federal law is the Canadian Human Rights Act, and then the provinces hav

[2017-07-31 20:59] LisaSnider commented on #272
Although I didn't include the AODA from Ontario, that should be added too.

[2017-08-01 09:16] yatil commented on #272
Thanks, Lisa and Denis for looking into this. I’m on vacation this week, but I’m sure @iamjolly and @maryjom are happy to guide you through updating [the Canada file](https://github.com/w3c/wai-policies-prototype/blob/gh-pages/_policies/canada.md) if needed and I can look into adding states/provinces support to the database when I’m back.

[2017-08-01 14:21] LisaSnider commented on #272
Thanks everyone! It is a great list! Oh and one addendum to my previous posts. Quebec also has a web disability law too, but I belive it only covers provincial sites.

[2017-08-09 22:34] eogitbot opened #287 "New Entry for"
New Entry for

Submitted by [](mailto:):

[code]

[2017-08-09 22:37] #287 closed

[2017-08-25 05:47] eogitbot opened #288 "Update for Taiwan"
Update for Taiwan

Submitted by [Marisa Yang](mailto:marisa@mail.cisanet.org.tw):

[code]

[2017-08-31 10:18] eogitbot opened #290 "Update for United States"
Update for United States

Submitted by [Tiffany](mailto:tiffany7mariah7@gmail.com):

[code]

[2017-08-31 11:14] #290 closed

[2017-09-05 16:24] eogitbot opened #291 "New Entry for"
New Entry for

Submitted by [](mailto:):

[code]

[2017-09-05 16:26] iamjolly commented on #291
empty - possible bot

[2017-09-05 16:26] #291 closed

[2017-09-05 16:47] eogitbot opened #292 "New Entry for"
New Entry for

Submitted by [](mailto:):

[code]

[2017-09-05 16:48] iamjolly commented on #292
bot? hello bot.

[2017-09-05 16:48] #292 closed

[2017-09-14 09:09] yatil opened #293 "Other national policies?"
_From @AndrewArch on August 12, 2016 12:48_

Should we consider including local industry or other (web) accessibility policies too where applicable? Eg [Australian Bankers Assoc](http://www.bankers.asn.au/Industry-Standards/ABAs-Accessibility-of-Electronic-Banking-/Industry-Standards---Accessibility)

_Copied from original issue: w3c/wai-policieslist#2_

[2017-09-14 09:09] yatil opened #294 "Content is outdated"
_From @maryjom on August 19, 2016 23:5_

Need to update the content per today's existing policies.

_Copied from original issue: w3c/wai-policieslist#3_

[2017-09-14 09:10] #294 closed

[2017-09-14 09:10] yatil opened #295 "Level of information per country is inconsistent"
_From @maryjom on August 19, 2016 23:6_

The structure & level of information for each country is inconsistent. There are several unneeded and non-working references in the additional information.

_Copied from original issue: w3c/wai-policieslist#4_

[2017-09-14 09:11] yatil opened #296 "What about in-progress regulations?"
_From @maryjom on August 19, 2016 23:8_

Should content include in-progress regulations?  If so, should we also note the impact, how far they are in the process, how imminent the completion is?

_Copied from original issue: w3c/wai-policieslist#5_

[2017-09-14 09:13] yatil opened #297 "Mark which policies are voluntary vs. carry a penalty."
_From @maryjom on August 19, 2016 23:10_

Should content include whether or not this is voluntary or penalties involved (e.g. India govt. recommendation to use WCAG 2.0 that is not enforced vs. AODA with monetary penalties)?

_Copied from original issue: w3c/wai-policieslist#6_

[2017-09-14 09:13] yatil opened #298 "Useful to have sorting capabilities for comparisons to be made"
_From @maryjom on August 19, 2016 23:12_

Users would like sorting capabilities to be able to compare countries. Some possibilities are:
1. Is it an accessibility policy, vs non-discrimination policy, vs procurement policy, etc.?
2. Does it apply to web only or is it broader?
3. Does it reference WCAG directly or through another mechanism (e.g. Copy &paste)?
4. Does it use WCAG as-is, or some deri

[2017-09-14 09:13] yatil opened #299 "Need method to mark new or updated information"
_From @maryjom on August 19, 2016 23:13_

Could be simply marking something "New" vs. "Updated" or giving a date per country or regulation when updates occur.

_Copied from original issue: w3c/wai-policieslist#8_

[2017-09-14 09:13] yatil commented on #299
_From @maryjom on November 15, 2016 23:6_

Proposal showed that in the table there would be a "New" or "Updated" icon/indicator to call attention items that have been changed on this page which would be repeated in the details portion of the page. In a note from Shadi dated 22 September 2016, he was confused by the New/Update column saying,  **I don't understand the category "New/Update". AFAIK
th

[2017-09-14 09:14] yatil opened #300 "Back to top links per country"
_From @maryjom on August 19, 2016 23:14_

Since the country sections are long, a "back to top" link would be helpful. Alternatively, if collapsible sections are used, such a link may not be necessary.

_Copied from original issue: w3c/wai-policieslist#9_

[2017-09-14 09:14] yatil opened #301 "Notification e-mail list for updates"
_From @slhenry on October 1, 2016 18:31_

Separate list? Or part of new announcements list?

_Copied from original issue: w3c/wai-policieslist#10_

[2017-09-14 09:14] yatil opened #302 "Consistent method of navigation needed"
_From @maryjom on November 15, 2016 22:13_

In the current page, the navigation has two methods, by 2 letter country code or by links in a nested list by country name.  Both are contained in the body of the page which takes a lot of the top part of the page. Suggest a single country navigation method.

_Copied from original issue: w3c/wai-policieslist#11_

[2017-09-14 09:14] yatil commented on #302
_From @maryjom on November 15, 2016 22:20_

The proposal has left navigation containing all of the sections and countries for easy access.

**Comments received:**
The initial proposal had EU member states as a level under the European Union which the EO group thought was controversial (See meeting minutes from 23 September 2016).

Shawn Henry 21 Sept., comment in Word doc: I'm not sure of the issu

[2017-09-14 09:14] yatil commented on #302
_From @maryjom on November 18, 2016 13:59_

**Resolution:**
In the updated proposal, I have made EU member states on same level as European Union. This was the consensus arrived at in the EOWG meeting 23 Sept. 2016.

[2017-09-14 09:14] yatil opened #303 "Proposal is a departure from normal WAI website navigation, need link back to WAI"
_From @maryjom on November 18, 2016 13:52_

From Brent's comment Sept. 26:
I like the left navigation. It will make it much easier to get to the areas of the document that are important to the user.
How would this work within the current WAI site, which also has a left navigation? Are you thinking that this could replace that when you are on this page? And maybe there is a link at the top of the p

[2017-09-14 09:15] yatil opened #304 "[Policies] Sortable table vs filters"
_From @sharronrush on January 13, 2017 18:56_

Options under consideration are:
1.  Sortable table
2.  Filters
Please discuss your preference and the reasons for them.

_Copied from original issue: w3c/wai-policieslist#13_

[2017-09-14 09:15] yatil commented on #304
_From @nitedog on January 16, 2017 16:33_

Does it need to be either-or? For example, I want a list of all the countries that adopted WCAG2 in chronological (vs alphabetical) order. This would need both filtering and sorting. I think we definitely need filtering to reduce the amount of information, but it seems that sorting would be relatively easy to implement on top of filtering.

[2017-09-14 09:15] yatil commented on #304
_From @slhenry on January 17, 2017 21:18_

My thought right now is to have both *simple* filtering and a sortable table. It would be nice if we could meet most users needs with only a few filtering options and without lots of columns in the table (and users can get more details in the full listing).

Related material: [Use Case & Usage examples](https://www.w3.org/WAI/EO/wiki/Policies_Updating#Int

[2017-09-14 09:15] yatil commented on #304
_From @bakkenb on January 18, 2017 19:28_

Just my opinion (and it may actually change when the prototype or mock-up is further developed), but I like having both options. I think people will be more forgiving of a very lengthy page for this particular resource because of the nature of the content.

The table is great because it can quickly display specific columns of important data at a glance as

[2017-09-14 09:15] yatil commented on #304
_From @susanatx on January 19, 2017 1:59_

I'm okay with both but would say filtering if we could only choose one.

[2017-09-14 09:15] yatil commented on #304
_From @sharronrush on January 19, 2017 15:14_

Can we get an estimate of effort? Can we use any of the existing UI of tools that we are using? Seems like that would be a factor. How difficult will it be to implement a filter that is delivered within a sortable table? Is this a question for Eric?

[2017-09-14 09:15] yatil commented on #304
@sharronrush: It depends on the filter options and how they interact with each other (and/or filtering, for example), but a simple filter is not much trouble. We already have a sortable table and we would just hide (display:none) non-matching table rows.

[2017-09-14 09:15] yatil opened #305 "[Policies] Policies page update - approach and content"
_From @sharronrush on January 13, 2017 19:1_

Please comment on the mockup sent to the EOWG list and attached to this email.

[Policy_page_proposal_13_Jan_2016.docx](https://github.com/w3c/wai-policieslist/files/705113/Policy_page_proposal_13_Jan_2016.docx)

_Copied from original issue: w3c/wai-policieslist#14_

[2017-09-14 09:15] yatil commented on #305
_From @nitedog on January 16, 2017 16:44_

1. I think we have too much intro text. The Disclaimer could be put into the left navigation like in the [List of Web Accessibility Evaluation Tools](https://www.w3.org/WAI/ER/tools/). If an Introduction is needed, then it could be collapsible like we did with the [How to Meet WCAG 2.0](https://www.w3.org/WAI/WCAG20/quickref/) tool.
2. I think the entries

[2017-09-14 09:15] yatil commented on #305
_From @lakeen on January 17, 2017 18:36_

I agree mostly with @nitedog except for 2. combining WCAG version and Standard used.  That would hinder filtering if filtering is used.

[2017-09-14 09:15] yatil commented on #305
_From @bakkenb on January 18, 2017 20:25_

I agree with @nitedog on his first topic. I think being able to collapse some of that information by default would be good. There for those new to the resource, but hidden for those who come back over and over for the information needed.

I like the level of detail proposed under each country. I could see that it could be sometimes difficult to fit specif

[2017-09-14 09:15] yatil commented on #305
_From @hkramer on January 18, 2017 21:26_

Would not combine WCAG version and Standard used. Too much info gets put into one field inhibiting quick scanning of information.

I menu near the top linking to each country such as found at https://www.w3.org/WAI/Policy/ might be useful over the disclaimer. I'm not sure I see the Tools UI as appropriate for this tool.

[2017-09-14 09:15] yatil commented on #305
* +1 to @nitedog’s point 1
* +1 for keeping “wcag used”. This could be an icon in the standards used columns (as it would be a filter option, not necessarily a sort option).
* @nitedog’s point 3: It might be overkill. When we know what we data we have, I guess I and @iamjolly  could code up a prototype relatively quickly.

[2017-09-14 09:15] yatil commented on #305
_From @slhenry on January 20, 2017 14:53_

fyi,
* [feedback from @AndrewArch via e-mail](https://lists.w3.org/Archives/Public/w3c-wai-eo/2017JanMar/0015.html)
* some thorough review still pending:
** [13 Jan survey results](https://www.w3.org/2002/09/wbs/35532/EO-Weekly-13-Jan-2017/results#xq6) includes some people who haven't gotten to review yet.
** Also, some people [missed questions in comment

[2017-09-14 09:15] yatil opened #306 "[Policies] Input data form"
_From @sharronrush on January 13, 2017 19:7_

Please comment on the proposed data input fields and approach to gather data on existing policies and updates. The [Policy_update_form.docx](https://github.com/w3c/wai-policieslist/files/705120/Policy_update_form.docx) proposal was sent to the EOWG list and is attached here.

_Copied from original issue: w3c/wai-policieslist#15_

[2017-09-14 09:15] yatil commented on #306
_From @nitedog on January 16, 2017 16:49_

On this page I think it is good to have separate "WCAG version used" and "Standard used" entries, because the WCAG entry is a single-option (to keep the data consistent). The form looks good to me.

[2017-09-14 09:15] yatil commented on #306
_From @lakeen on January 17, 2017 18:50_

The form input fields seem complete, except for possibly a date field after the status field.

[2017-09-14 09:15] yatil commented on #306
_From @slhenry on January 18, 2017 1:35_

Great start! Thanks!
Some thoughts:
1. Overall
1.1. Required fields – I think we want to make very few things required fields – maybe only Country. Sure ideally the submitter would enter all the info; however, they might not know all of it – and not be willing to figure it out. I think we would rather have incomplete data that no data at all. (e.g., there

[2017-09-14 09:15] yatil commented on #306
_From @bakkenb on January 18, 2017 21:56_

Wow Shawn, you covered it really well. I had a few of the same questions, but I will not restate them for the sake of Mary Jo's sanity in reading through the feedback.

With Shawn's comments, I agree with most, but I particularly agree with:
1.1 - agree that not everyone will have all the detail up front
1.4 - I was wishing I had descriptions for the cate

[2017-09-16 02:10] eogitbot opened #307 "New Entry for Sweden"
New Entry for Sweden

Submitted by [barbro22](mailto:gustav.nordfelt@gmail.com):

[code]

[2017-09-16 02:20] #307 closed

[2017-09-18 07:52] eogitbot opened #308 "Update for"
Update for

Submitted by [](mailto:):

[code]

[2017-09-18 08:31] #308 closed

[2017-09-22 11:36] eogitbot opened #309 "New Entry for"
New Entry for

Submitted by [](mailto:):

[code]

[2017-09-22 11:38] eogitbot opened #310 "New Entry for"
New Entry for

Submitted by [](mailto:):

[code]

[2017-09-22 11:45] #310 closed

[2017-09-22 11:45] #309 closed

[2017-09-26 17:37] slhenry opened #311 "... Reference List"
Issue from Judy to make clear it's not what we do, just providing a list.

[2017-10-11 05:37] eogitbot opened #312 "New Entry for"
New Entry for

Submitted by [](mailto:):

[code]

[2017-10-11 08:53] #312 closed

[2017-10-12 17:49] slhenry opened #313 "[WAI Web Accessibility Laws and Policies] - Affordance for Policy clickable"
Note: This applies to current site (and redesign).

In the country-detail pages, 2 of 2 usability test participants clicked the ministry and not the policy.

I think they processed the policy only as a heading, and didn't notice that it was clickable.

We probably need to change the design so the policy itself has much stronger affordance to click, and the ministry much less. Probably move the lin

[2017-10-17 09:54] yatil commented on #313
Maybe we could have a “Go to policy button” in a gutter on the right or something.

[2017-10-18 13:42] yatil opened #314 "Preparation for the Redesign"
👋 The redesign is coming to this repository soon. (Hooray! 🎉) We need to check off several steps before we can link your content to the [redesign repository](https://github.com/w3c/wai-website). I marked some of the steps with RM meaning Resource Manager. Others are marked with @yatil, and I’ll do/help you through the technical parts.

In addition to this issue, you might find other issues in your

[2017-10-18 13:43] yatil commented on #314
Note that I will port the stuff that I did on the w3c/wai-website prototype to this. I don’t think there have been content changes in-between.

[2017-10-18 13:45] yatil commented on #311
I wonder what else we would have there? I think the title “Web Accessibility Laws & Policies” is explanatory enough. Happy to change it if there are good reasons, but we just did change the name with the update, so I am hesitant.

[2017-10-18 13:48] iamjolly commented on #314
That is correct. Here have been no content.m changes, @yatil. Some changes will be made based on the usability testing, but best to make those in the repo after the new design is applied. Thank you!

[2017-10-19 08:52] yatil commented on #313
Hi @slhenry, I see that this is an issue in the current design as well. Do you feel we have to address it before the redesign? It impacts how to go about preparing this repository for the redesign (#314).

[2017-10-25 12:43] yatil commented on #314
@iamjolly  I have now ported the policies prototype to the new design in a separate branch: https://github.com/w3c/wai-policies-prototype/tree/neo

I also created a [release branch](https://github.com/w3c/wai-policies-prototype/tree/release) where we merge changes from the neo branch that should be used in w3c/wai-website.

Currently the GitHub page is still rendering the old version (until we fig

[2017-10-25 16:10] yatil commented on #313
Brainstorming with @slhenry:

* Not linking the header
* Writing something like “Links to policy: English, Finnish, …”

for both versions.

[2017-10-25 16:11] iamjolly commented on #313
I like it. I can run with that in some prototype changes.

[2017-11-03 21:43] eogitbot opened #315 "Update for"
Update for

Submitted by [](mailto:):

[code]

[2017-11-06 19:47] #315 closed

[2017-11-13 22:50] iamjolly commented on #313
This has been addressed in commit https://github.com/w3c/wai-policies-prototype/commit/4579294c1350c8fcd8998f4426b88a3d9e28d9ea.

[2017-11-13 22:52] iamjolly commented on #311
Is this issue something that came up from confusion from someone using the resource or is it more of an internal-only concern about what _might_ be a problem @slhenry?

[2017-11-13 23:00] iamjolly commented on #306
I don't know if this is still relevant for the current submission form hosted at:

https://www.w3.org/WAI/Policy/submission.html (existing design) and
https://w3c.github.io/wai-policies-prototype/policies/submission/ (new design)

But, there is a need for some styling updates for the form in the new design which will be opened with separate issue(s).

I recommend closing this issue for now and ope

[2017-11-13 23:00] #306 closed

[2017-11-13 23:02] iamjolly commented on #305
Addressed prior to publishing the current resource at: https://www.w3.org/WAI/Policy/

If specific changes are still seen as needed to the approach and content, I recommend re-opening this issue with updated details or creating new issues for each change requested.

[2017-11-13 23:02] #305 closed

[2017-11-14 16:02] slhenry commented on #313
Sorry I missed the questions to me earlier. :(
How much work would it be to implement in the current design as well? That would be good to do... but maybe not worth it?

[2017-11-14 20:27] iamjolly commented on #313
This might take a couple of hours to do, maybe a little more if there are any snags with back-porting the rendering component for URLs.

Would the benefits be that having it in the current design will allow us to publish the update ahead of the re-launch?

[2017-11-14 21:15] slhenry commented on #313
Yes! As soon as it is approved, we can update it on the current site.

Ideally, we would do both -- update the current site, and have it ready for the redesigned site.

[2017-11-15 01:51] slhenry commented on #311
I've asked Judy @brewerj to suggest specific wording here.

[2017-11-15 15:46] yatil commented on #313
It deepens on _what_ we want to port over to the old/current design: If it is just the way headings are displayed, that is easy to do. If we also want styling that fits into the old/current design, that might be a more laborious task, and we have to decide if it is worth it.

[2017-11-15 20:02] sharronrush commented on #313
Not worth the trouble in my opinion.We have this for years, no need to
struggle for a few weeks of display.

On Wed, Nov 15, 2017 at 9:46 AM, Eric Eggert <notifications@github.com>
wrote:

--
Sharron Rush | Executive Director | Knowbility.org | @knowbility
*Equal access to technology for people with disabilities*

[2017-11-15 20:29] slhenry commented on #313
The issue that we found in usability testing -- taking the links out of the headings. Don't really care about styling at this point.

[2017-11-16 15:32] maryjom opened #318 "All of the links in policies table give me an Error 404"
I tried the policies page, and the links within the table all give me a 404 error.  Is this expected behavior in the prototype of the new version?

[2017-11-16 15:34] iamjolly commented on #318
Good catch and thanks, @maryjom. That is a bug we can fix quickly. Probably a minor path issue.

[2017-11-16 15:37] maryjom opened #319 "Sweden's information needs updating"
Sweden's law is a non-discrimination law and the scope is public & private sector.

[2017-11-16 16:09] yatil commented on #313
@slhenry But the links are still in the header area, if there is an English version, it is the header. The solution consists of changing how links look (prepend language info) and making a clear separation of the header area to emphasize it. (Because people clicked the agencies before.) So I wonder if doing one thing but not the other is less effective?

[2017-11-16 17:05] yatil commented on #318
Fixed in 6a044d4! Good catch!

[2017-11-16 17:05] #318 closed

[2017-11-17 18:34] slhenry opened #320 "[ED] Multiple language identification?"
Apologies for my lack of multi-lingual-ism.

Some listings have one language indicated, e.g.,

"(Deutsch)" on https://w3c.github.io/wai-policies-prototype/policies/germany/

Some have two, e.g.:

"(français, langue française)" on https://w3c.github.io/wai-policies-prototype/policies/france/

"(suomi, suomen kieli)" on https://w3c.github.io/wai-policies-prototype/policies/finland/

"(Nederlands, Vl

[2017-11-17 18:47] slhenry opened #321 "[ED] Country pages out of date"
We may want to push this off to the broader site-wide issue of how to address old pages that we're not updating.

* https://w3c.github.io/wai-policies-prototype/policies/australia/ links up top to https://www.w3.org/WAI/Policy/CA-Provinces.html which hasn't been updated since 2002.
* https://w3c.github.io/wai-policies-prototype/policies/canada/ links up top to https://www.w3.org/WAI/Policy/AU-Stat

[2017-11-17 18:47] #321 closed

[2017-11-17 19:17] bakkenb commented on #321
Hummm.  Good Question.

Also not that at the top of all the "old" pages there is a link back to the main policies page, which currently goes to the old policy page. Will that automatically change when the new site is in place, or will be have to hit those URLs for updates too?

To help answer your original question above, what information is on these old pages that people would want? And this is w

[2017-11-17 20:49] slhenry commented on #321
Yes, links will work when on new site.

/me thinks can of worms, and lets address them all later.

[2017-11-18 05:11] yatil commented on #320
Some languages have multiple designations for their language or different ways to say it.

I basically took [one of the JSON files from here](https://stackoverflow.com/questions/3217492/list-of-language-codes-in-yaml-or-json) and used it, it is based (mainly?) on Wikipedia and ISO data.

Maybe @WilcoFiers can explain it for Dutch. For me it _feels_ redundant in some cases (French), but in some lan

[2017-11-24 16:03] eogitbot opened #322 "Update for 555-555-0199@example.com"
Update for 555-555-0199@example.com

Submitted by [Peter Winter](mailto:winter@example.com):

[code]

[2017-11-24 16:53] #322 closed

[2017-12-05 15:06] maryjom commented on #319
The change looks good. Thanks @yatil

[2017-12-05 15:30] #319 closed

[2017-12-06 06:14] eogitbot opened #324 "New Entry for usa"
New Entry for usa

Submitted by [Brent](mailto:hshane750@gmail.com):

[code]

[2017-12-06 11:25] #324 closed

[2017-12-06 12:27] yatil commented on #223
What about adding a search field for the countries? We would iterate through the country table and only countries that have a string in them would then be displayed. (“Aus” would find “Austria” and “Australia”)

The field would reset when you change the other filters. (For simplicity reasons.)

I think we could tackle this relatively easy for one of the next versions.

[2017-12-08 04:13] iamjolly commented on #313
I have worked on a couple of mockups based on Law/Policies with a single language (like United States) and ones with multiple languages (like Switzerland) in an attempt to address this. These have their flaws, but they might help resolve the confusion noted in usability testing.

<img width="1280" alt="US policy mockup with proposed use of list item for English: Official Law/Policy Page link" src=

[2017-12-08 08:38] yatil commented on #313
Hi Robert, I think we want to keep the names of the law/policy for SEO/general find ability reasons. For example Germans might know about BITV and would easily recognize that. If we remove the name from the page, it might be disorienting. What about the following approach:

[2017-12-08 15:44] slhenry commented on #313
Thanks, Robert!

Agree with @yatil that we want the name linked. I know that will mean some redundancy when only one language, but I think necessary to address usability. I like @yatil 's idea above.

Maybe easiest to talk by phone. Ping me in IRC when available.

(Minot point: Do we want the language linked at the beginning?)

[2017-12-08 15:47] slhenry commented on #313
I also wonder about having the links in the heading box or outside of it...

I'd like to share my observations from usability testing with y'all verbally (to hard to type up)

Thanks.

[2017-12-08 15:49] yatil commented on #313
We would have laws/policy and page/pages change based on the type and the number of pages (because we now could do that). :-)

I have the language linked at the beginning so the link starts at the same position in each line, otherwise, it might be distracting with the underlines.

We specifically wanted to keep this in the header to make the connection to the heading text.

[2017-12-08 16:25] yatil commented on #313
We just had a call and agreed on a variant of the following mockup:
<img width="957" alt="screen-shot-2017-12-08-17-08-50" src="https://user-images.githubusercontent.com/58862/33774708-770e916e-dc3c-11e7-8a22-f58e62614dec.png">

With the following changes:

* [ ] Move list to policies links out of header.
* [ ] Add headings for the details and the links to the policies.
  * [ ] No colons.
* [ ] Do

[2017-12-08 16:27] slhenry commented on #313
+ unbold other links

[2017-12-08 16:44] yatil commented on #313
* [ ] Backport into the old design

[2017-12-11 14:38] yatil commented on #313
@slhenry @iamjolly Can you review and OK the changes, then I can do the backport into the old design.

https://w3c.github.io/wai-policies-prototype/policies/finland/

[2017-12-13 23:53] iamjolly commented on #313
@yatil - These changes all look done to me.

One minor difference I see is that the country page policy title in the `<header>` is no longer wrapped in an `<h2>` so there is a skipped heading level as well as the title isn't visually bold anymore.

I'll fix that now and see how that changes things.

[2017-12-14 09:14] yatil commented on #313
@iamjolly See that is why I need your eyes. Yes, I use multilang-policy-title. Fix is coming right now :-)

[2017-12-14 09:21] yatil commented on #313
Fixed!

[2017-12-14 09:24] yatil commented on #320
Wilco explained it to me via email. Basically, those second names seem to be dialects. I am confident to remove them for Dutch and other European languages, but I don’t feel confident to do it for other languages. Maybe we could send out our file to the W3C offices and they could take a look if both are needed.

[2017-12-14 14:21] iamjolly commented on #313
Confirmed. Thank you @yatil!

[2017-12-14 14:21] #313 closed

[2018-01-31 05:16] eogitbot opened #325 "New Entry for"
New Entry for

Submitted by [](mailto:):

[code]

[2018-01-31 08:39] #325 closed

[2018-02-08 19:32] eogitbot opened #326 "Update for US"
Update for US

Submitted by [Judy Brewer](mailto:jbrewer@w3.org):

[code]

[2018-02-08 22:23] yatil commented on #326
@iamjolly, @maryjom Can you take a look at this update? Thanks!

[2018-02-08 23:12] iamjolly commented on #326
Yes, we need to update this to have the new Section 508 info listed. We can remove references to WCAG 1.0 and the mention of "Updated standard now available but not enforced yet, see Revised section 508 standards below.")

Thanks @yatil and @brewerj.

[2018-02-08 23:34] maryjom commented on #326
Actually, the enforced 508 is still the original one.

[2018-02-20 19:08] slhenry commented on #326
/me assigned to Sharron & Brent so they can help manage getting this addressed :-)

[2018-02-20 19:09] brewerj commented on #326
Hi Mary Jo, I don't believe so; the new policy went into effect on the one-year anniversary of the Refresh Update. And in any case, the Access Board had been advising everyone to use WCAG 2.0 by equivalent facilitation for about 3 years before that. Would be great to get this updated, after all the work on the Refresh. Thanks. - Judy

[2018-02-20 23:17] iamjolly commented on #326
I'm a bit lost on what to update on this page based on the thread here. I'm happy to make whatever updates are needed, but I want to ensure what's needed is clear to me.

This seems like a special case where the law is using the updated/refreshed/harmonized guidelines with WCAG 2.0 AA, but an agency related to defining procurement requirements is holding back compliance by the affected entities. I

[2018-02-27 17:03] eogitbot opened #327 "New Entry for Canada/Ontario"
New Entry for Canada

Submitted by [Kivi Shapiro](mailto:kivi.shapiro@gmail.com):

[code]

[2018-03-09 15:02] sharronrush commented on #288
@iamjolly please update status on this.

[2018-03-09 15:12] sharronrush commented on #284
@iamjolly please address

[2018-03-09 15:13] sharronrush commented on #272
@iamjolly please address

[2018-03-09 15:14] sharronrush commented on #271
@iamjolly please address and check with @dboudreau about status of his research

[2018-03-09 15:24] sharronrush commented on #246
@iamjolly please update stutus on this

[2018-03-09 15:35] sharronrush commented on #205
Agree with @maryjom that we cannot change the structure of this database to meet UN policies. Limiting scope to W3C resource statement is correct. Can confirm at the March 2018 F2F of EOWG

Suggest closing this issue.

[2018-03-14 20:03] eogitbot opened #328 "New Entry for United States"
New Entry for United States

Submitted by [Phill Jenkins](mailto:pjenkins@us.ibm.com):

[code]

[2018-03-16 14:40] nitedog opened #329 "Policies page missing footer"
https://www.w3.org/WAI/beta/policies/

[2018-03-16 21:26] baeby opened #330 "[WAI Web Accessibility Laws and Policies]"
This is a comment related to the [WAI Web Accessibility Laws and Policies](//w3c.github.io/wai-policies-prototype/)

[2018-03-16 21:44] iamjolly commented on #330
What is the comment @baeby?

[2018-03-16 23:26] #330 closed

[2018-03-19 18:45] #304 closed

[2018-03-19 18:46] slhenry commented on #304
EOWG F2F: looks addressed.

(Can re-open  if needed.)

[2018-03-19 18:52] slhenry commented on #298
EOWG Resolution: Not provide that functionality in tool. Instead, provide downloadable (#37)

[2018-03-19 18:52] #298 closed

[2018-03-19 18:54] slhenry commented on #297
EOWG Resolution: Beyond purview of EOWG.

[2018-03-19 18:54] #297 closed

[2018-03-19 18:56] slhenry commented on #293
Related to https://github.com/w3c/wai-policies-prototype/issues/328

[2018-03-19 19:02] slhenry commented on #293
EOWG Resolution: Out of scope of this resource.

Along with "Developing Org Policies" resource, wishlist of database of example policies.

[2018-03-19 19:02] #293 closed

[2018-03-19 19:03] slhenry commented on #328
Thanks for the input.

EOWG Resolution: Out of scope of this resource.

Add to the "Developing Org Policies" resource wishlist: database of example policies.

[2018-03-19 19:03] #328 closed

[2018-03-19 19:12] iamjolly commented on #205
Thank you @RebeccaMSheffield for your input. This is interesting and could be valuable to connect this resource in some way with the UNCRPD. We are discussing different possibilities and will have more thoughts and/or questions to share soon. Thanks again for these ideas!

[2018-03-20 16:57] eogitbot opened #331 "New Entry for"
New Entry for

Submitted by [Emma Heasley ](mailto:chickens22138@gmail.com):

[code]

[2018-03-20 17:00] #331 closed

[2018-03-20 17:48] iamjolly commented on #327
This is not a national-level law, but it has been something that has wider reach beyond Ontario from what I know. Question: Should this be on the Canada page or should we ensure that AODA is queued up for inclusion on an Ontario-specific page when we address State/Province/Territory laws and policies @slhenry?

[2018-03-20 18:27] iamjolly commented on #288
This is staged at: https://w3c.github.io/wai-policies-prototype/policies/taiwan/ and awaits full publishing to the production resource at https://www.w3.org/WAI/Policy/ and https://www.w3.org/WAI/beta/policies/taiwan/ (@yatil can push these changes live).

[2018-03-21 21:52] slhenry commented on #326
@brewerj , please confirm you're OK with the changes (DIFF is https://github.com/w3c/wai-policies-prototype/pull/332), and if so, close this issue. Thanks.

[2018-03-26 21:26] caztcha commented on #327
I think it is very helpful if this issue (Ontario's accessibility law) is included in the W3C database. A global company based on outside Canada should also take care of this if that campany has a branch or subsidiary in Ontario (This is just what I experienced before). For non-Canadian users, it might be easier to refer if this issue is listed in the Canada page.

[2018-04-23 06:49] yatil opened #333 "Add Spain"
Found this in [Chaals tweet](https://twitter.com/chaals/status/987040290224549889):

All information in Spanish:

* Spain: http://sidar.org/recur/direc/legis/espa.php
* Latin America (specifically: Argentina, Brasil, Colombia, El Salvador, Perú, Puerto Rico): http://sidar.org/recur/direc/legis/latino.php

Maybe there is some information we can gather from there.

[2018-04-24 14:02] yatil opened #334 "Add/Change Footer"
Reported by @slhenry via email

[code]

[2018-04-26 02:26] iamjolly commented on #333
This is good info. Thank you @yatil for passing along the information from Chaals. Consider this now in progress.

[2018-05-08 13:03] nitedog commented on #205
I like the idea of adding a small section (just a sentence or two), possibly below the table, linking to the CRPD and state parties' reports for further information. This can be useful in several ways, as @RebeccaMSheffield indicates:

1. If you don't find the information about your country here, then you may be able to find it in the CRPD reports;
2. The CRPD reports can give you broader informat

[2018-05-08 14:59] #334 closed

[2018-05-08 16:08] iamjolly commented on #205
I can take this on. Is there any specific language you are thinking of as of now @nitedog?

[2018-05-09 17:25] slhenry commented on #205
(Added Chairs Brent & Sharron so they can help manage it through EOWG. :-)

[2018-05-25 17:11] maryjom opened #336 "Website redesign issue with the policy page table information"
When I've got a narrower view of the policy page with the website redesign, text goes beyond the boundary of the cells and overlaps text in the next column's cell.  Please find the right CSS tricks to make this work like in the previous version of the web page. Thanks!

[2018-05-26 09:08] yatil commented on #336
(@slhenry @iamjolly for perspectives and ideas)

This is a hard problem to solve. There is `hyphens: auto` to create [automatic word breaks](https://developer.mozilla.org/de/docs/Web/CSS/hyphens) but that looks pretty unreadable:

<img width="786" alt="screen-shot-2018-05-26-10-56-41" src="https://user-images.githubusercontent.com/58862/40574507-ae75a90a-60d3-11e8-9390-ab516876eada.png">

A differ

[2018-05-29 18:29] bakkenb commented on #336
[medium]
I lean towards your solution bullets rather than combining field data into one cell. We could be very picky about when a "dense" table style is used. But this seems to be a good case for introducing one.

[2018-05-29 19:28] yatil commented on #336
Thanks, @bakkenb. In general, I think more airy tables are OK, but not if we have 7 columns :-D

[2018-06-01 18:32] RebeccaMSheffield commented on #205
Suggestion (feel free to use as much/as little as you'd like):

Article 9 of the UNCRPD relates to the W3C Laws & Policies resource. It requires states parties to take measures to ensure equal access to information and communications technologies and systems, including to:
- "develop, promulgate and monitor the implementation of minimum standards" for accessibility of public services and facilitie

[2018-06-01 19:46] sharronrush commented on #205
+1 to Rebecca's suggestion. This is longer than we wanted but the bulleted presentation and clarity of the prose makes it quite readable. I also appreciate how the importance of digital accessibility to UNCRPD is emphasized and contributions are encouraged.

[2018-06-01 20:41] maryjom commented on #205
I don't see UNCRPD states looking to our page to figure out what to submit in the states' parties reports.  However, they could submit new regulations they have on the books to list on our page using our submission form.  In addition, I have not been monitoring UNCRPD reports as a source of information for this page because, as mentioned, they are all very differently written and difficult to wade

[2018-06-28 10:33] #336 closed

[2018-06-28 10:34] #329 closed

[2018-07-17 08:13] eogitbot opened #338 "New Entry for Russian Federation"
New Entry for Russian Federation

Submitted by [Sergey Bondar](mailto:msnre@yandex.ru):

[code]

[2018-08-28 18:11] slhenry commented on #285
In the past, we had 3 separate pages for Australian, Candian, and US Provinces/Territories/States. We planned to address that after the main page was updated &mdash; that is, creating separate pages or integrating in the main page somehow.

Sharron & Brent: Let's figure out where that is in our priorities now.

Additional related issues: https://github.com/w3c/wai-policies-prototype/issues/327 , h

[2018-08-28 18:12] shawna-slh opened #339 "Additional input on Canada, Canada/Ontario, Canada/Manitoba, Canada/British Columbia"
From direct e-mail to Shawn:

I was scanning through the "Web Accessibility Laws & Policies" and notice for the Canadian laws, there is no mention of the "Accessibility for Ontarian's with Disabilities Act" (AODA). In Canada, accessibility laws are currently primarily provincial jurisdiction. While Ontario has taken the lead, British Columbia and Manitoba are now following them with similar laws.

[2018-08-28 18:16] slhenry commented on #285
We might want to consider an interim approach to **listing the Canadian Province data on the main page now**, even if we move it to a separate page later. (I don't think we want the US States on the main page now though.)

[2018-08-29 09:12] yatil commented on #285
The question is: How would we surface that data. I think we need to have at least an indication that there are regulations for states/provinces.

It is no problem to add provinces to the tool. I don’t want to add a version that lists them on the home page in an understandable manner (Ontario would be the Country? Would we list “Canada – Ontario” as the country? What would the URL scheme look like…

[2018-08-29 13:53] iamjolly opened #340 "Ensure clarity on documents that are appropriate for the Laws and Policies page"
Also need to ensure there is clarity on the amount of detail to be useful within the resource listing.

[2018-08-29 14:11] yatil commented on #338
This seems to be the official DOC: https://ulgov.ru/docs/gost.doc

[2018-08-29 14:12] maryjom commented on #326
This was published in March.  Must have missed linking it to the pull request.

[2018-08-29 14:15] #326 closed

[2018-08-29 14:19] maryjom commented on #295
@yatil @iamjolly This is by design now if we are allowing the minimum information per country to be only the policy/standard name with a link, and the country it belongs to.  The thing we need to look into is how to represent any missing data on the country page and on the summary page, and fix the sorting algorithms, if needed, to handle that.

[2018-08-29 14:29] maryjom commented on #311
@brewerj The page already says: "This page lists governmental policies related to web accessibility, although it is not a comprehensive or definitive listing."

Is that sufficient, or what alternative wording do you propose?

[2018-08-29 15:30] iamjolly commented on #340
@maryjom - Yes. I forgot what was there, so it may already be adequately worded, but worth a review to determine if edits are needed.

[2018-08-29 15:48] #299 closed

[2018-08-29 15:56] slhenry commented on #340
How about also add it to https://www.w3.org/WAI/EO/wiki/Policies_Workflow (a new section) -- so we have it handy when reviewing submissions?

[2018-08-29 16:03] iamjolly commented on #340
good suggestion @slhenry - will do, and thank you!

[2018-08-29 17:29] slhenry commented on #338
I skimmed a machine translation of https://ulgov.ru/docs/gost.doc and think it fits our criteria for including in the database. Let me know if more info is needed.

[2018-08-29 18:09] maryjom commented on #338
@slhenry I'd really like to know if there's any law or government policy that points to this standard.  This is the standard used....is it required, recommended?

[2018-08-30 06:48] yatil commented on #338
[On this page that is linked from the doc](https://translate.googleusercontent.com/translate_c?act=url&depth=1&hl=en&ie=UTF8&prev=_t&rurl=translate.google.com&sl=auto&sp=nmt4&tl=en&u=http://docs.cntd.ru/document/499068628&xid=25657,15700002,15700021,15700124,15700149,15700186,15700191,15700201&usg=ALkJrhhiDa4fIrpab_bNXkDQQks9tJOpkg) it says (machine-translated):

[2018-08-30 06:53] yatil commented on #295
Yes, I think that’s something we need to look at. I think we need a clear link on the country page when we have little information. If we’re missing a certain info we might write “unknown” as a value to underline that this is not something that is not applicable but something we don’t know.

[2018-08-30 10:41] yatil commented on #285
@iamjolly @maryjom Just so we can see something tangible I took a few minutes to [add states to the US](https://w3c.github.io/wai-policies-prototype/policies/united-states/#states) and [Provinces and Territories to Canada](https://w3c.github.io/wai-policies-prototype/policies/canada/#states). Here are the links to the source file changes:

* USA: https://github.com/w3c/wai-policies-prototype/commi

[2018-08-30 15:29] maryjom commented on #285
@yatil One possible suggestion is to have some sort of navigation ability to go to a specific state or province.  It has to be a mechanism that works for a small number of choices (Canada currently has 3 provinces with laws/policies) and for a large number of choices (e.g. USA has 50 states)

Maybe a dropdown choice with a "Go" button? Or an entry field with a "Go" button. What do you think?

[2018-08-30 16:44] yatil commented on #285
I made the states collapsible, and we can add "expand/collapse all" buttons to the pages. If we want to add navigation, we could potentially add them to the left navigation. I’ll think about it for a bit :-)

[2018-09-10 15:11] iamjolly opened #341 "US States, starting at Z working backwards"
@iamjolly will work backward alphabetically from Z (Wyoming) to add US States to the United States entry.

[2018-09-10 15:21] maryjom opened #342 "US States - Starting from letter A working toward Z"

[2018-10-11 12:58] yatil commented on #285
@maryjom @iamjolly I tried something with the navigation as we have discussed on the phone a few weeks ago: https://w3c.github.io/wai-policies-prototype/policies/united-states/#states Note how only Texas and Washington are linked at the moment.

I need to let this sink in more because there are some problems with it:

- [ ] Had to find links to existing information when only a few entries are avai

[2018-10-11 16:47] yatil commented on #341
/me leaving this todo list here :-)

- [ ] Missouri
- [ ] Montana
- [ ] Nebraska
- [ ] Nevada
- [ ] New Hampshire
- [ ] New Jersey
- [ ] New Mexico
- [ ] New York
- [ ] North Carolina
- [ ] North Dakota
- [ ] Northern Mariana Islands
- [ ] Ohio
- [ ] Oklahoma
- [ ] Oregon
- [ ] Pennsylvania
- [ ] Puerto Rico
- [ ] Rhode Island
- [ ] South Carolina
- [ ] South Dakota
- [ ] Tennessee
- [ ] Texas (Ha

[2018-10-11 16:47] yatil commented on #342
/me leaving this todo list here :-)

- [ ] Alabama
- [ ] Alaska
- [ ] American Samoa
- [ ] Arizona
- [ ] Arkansas
- [ ] California
- [ ] Colorado
- [ ] Connecticut
- [ ] Delaware
- [ ] District of Columbia
- [ ] Florida
- [ ] Georgia
- [ ] Guam
- [ ] Hawaii
- [ ] Idaho
- [ ] Illinois
- [ ] Indiana
- [ ] Iowa
- [ ] Kansas
- [ ] Kentucky
- [ ] Louisiana
- [ ] Maine
- [ ] Maryland
- [ ] Massachusetts

[2018-10-19 10:34] yatil commented on #285
Any feedback? @iamjolly @maryjom

[2018-10-21 20:01] maryjom commented on #285
@yatil I will look at this while at TPAC this week.  Been swamped with several different policy issues/comment periods that ended the last couple of weeks.

[2018-10-26 12:52] eogitbot opened #343 "New Entry for"
New Entry for

Submitted by [Nannuri.ramakrishna](mailto:ramakrishnanannuri@.com):

[code]

[2018-10-26 16:56] #343 closed

[2018-11-02 15:06] annethyme opened #344 ""Laws and Policies" could need an update for EU"
Filing this issue after talking to Eric Eggert and @maryjom at TPAC:

On the page Laws and Policies (https://www.w3.org/WAI/policies/european-union/#web-and-mobile-accessibility-directive) the parts related to the EU could need an update, since things are evolving pretty quickly with the EU Web Accessibility Directive (WAD) entering into force this September.

*On the Web Accessibility Directive (

[2018-11-02 15:17] annethyme commented on #344
Forgot to link to my favourite EU Web Accessibility Directive go to resource: https://go.siteimprove.com/whitepaper-eu-accessibility-2017

[2018-11-02 15:50] yatil commented on #344
*cough* sponsored link *cough* ;-)

[2018-11-29 01:42] shawna-slh opened #345 "[!!] Consider adding contents list (TOC of h2s) to country pages"
use case: user goes to https://www.w3.org/WAI/policies/united-states/
* cannot easily tell how many listings are on the page, nor get to a specific one.
* would increase usability and accessibility if could see list of all, and be able to easily jump to specific ones.

let me know if you want more use case, rationale, or other perspectives -- or if there are reasons not to add the TOC

thanks

[2018-11-29 10:45] yatil commented on #345
ok for me

waiting on approval/feedback on #285 for implementation & publication

[2018-11-29 10:47] yatil commented on #311
This is now open for over a year, without a specific proposal or reasoning, so I’ll close the issue for now.

[2018-11-29 10:47] #311 closed

[2018-11-29 10:48] yatil commented on #300
Countries are now on their separate pages. Also, we have a general back to top link in the new design.

[2018-11-29 10:48] #300 closed

[2018-11-29 19:37] bakkenb commented on #345
+1 to TOC

How would this be handled? TOC on every country page even if only one record available. Or only added to countries that have states, provinces, etc.

Obviously it would be helpful in the example pointed to of the United States even though that is not the "state specific" page but the country page in general. I think TOC is useful in all locations.

[2018-11-30 14:19] bakkenb commented on #345
+1 to @yatil two bullet ideas above
-1 to expand/collapse

[2018-12-03 16:29] eogitbot opened #346 "Update for Tulsa , Ok"
Update for Tulsa , Ok

Submitted by [Michelle Lovett](mailto:diormichelle00@gmail.com):

[code]

[2018-12-03 16:36] iamjolly commented on #346
Looks like spam.

[2018-12-03 16:36] #346 closed

[2018-12-07 14:15] bakkenb commented on #345
TOC always there brings consistency too.

[2018-12-07 14:40] yatil commented on #345
OK.

[2018-12-12 14:11] bakkenb commented on #285
Need to rephrase this statement at the top, "See below for information about States and Territories."
To some/most people that means whatever is immediately after the sentence; below the sentence. But it is actually below the country information.

Trying to provide a suggestion...

[2018-12-12 14:14] iamjolly commented on #285
I like that. A slightly different version of your suggestion could be:

[2018-12-12 15:53] bakkenb commented on #285
Small bug...  I will try to explain...
(using Chrome on Windows)

Looking at the [US States and Territories section](https://w3c.github.io/wai-policies-prototype/policies/united-states/#states). The expand all and collapse all is working fine until you click on one or both of the states *with* data buttons (Texas or Washington). Clicking on those buttons expands those sections but does not change

[2018-12-12 17:10] yatil commented on #285
@bakkenb That’s a known bug. I’ll address it at some point :-D

[2018-12-13 23:11] slhenry commented on #285
If we add TOC at the top per https://github.com/w3c/wai-policies-prototype/issues/345
then we don't need "See below for information about States and Territories."/"States and Territories information directly follows Country Laws and Policies." at all?

[2018-12-13 23:18] slhenry commented on #285
Is "States and Territories" good to cover Provinces, Territories, States, other of Australia, Canada, US, other? Or will the heading be different for each country? (which I think is probably best so it can be more accurate and shorter)

@dboudreau : heading for Canada?

@AndrewArch : heading for Australia?

[2018-12-14 00:52] dboudreau commented on #285
Provinces and territories for Canada.

/Denis

On Thu, Dec 13, 2018 at 18:18 shawn_slh <notifications@github.com> wrote:

--
/Denis

--
Denis Boudreau
514-730-9168

[2018-12-14 02:11] iamjolly commented on #285
I believe Australia uses the terms "States and territories" per their government's [How Government Works page](https://www.australia.gov.au/about-government/how-government-works.html#stateTerritoryGovt).

Waiting for @AndrewArch to confirm.

[2018-12-14 07:33] yatil commented on #285
@slhenry @dbudreau @iamjolly The heading and naming for states can be specified for every country. That’s why I linked the Canada example [above](https://github.com/w3c/wai-policies-prototype/issues/285#issuecomment-417274595): https://w3c.github.io/wai-policies-prototype/policies/canada/ which clearly states “provinces and territories”.

[2018-12-14 17:14] goodwitch opened #347 "Additional Content for Web Accessibility Law & Policy page"
I think there are additional countries/laws/policies that could be added to this list, based on info I'm seeing in this article.   https://sitemorse.com/news/2018/05/08/guide-digital-accessibility-legislation-around-world/

New countries/laws/policies to add include:
- Korea - Welfare of Persons with Disabilities
- Canada (Ontario) - AODA
- Canada (Quebec) - SGQRI 008
- Spain - Law 34/2002, Law 51

[2018-12-14 17:19] iamjolly commented on #347
Thank you @goodwitch. I've been wanting to add more info and have a few things to work through related to that (and now this). Your recommendation is both timely and helpful. Thanks again! I'll update this issue whenever these get added or if there are any questions.

[2019-02-27 08:30] yatil opened #348 "Update on Japan"
via Makoto in a11ychat

[2019-02-27 16:06] slhenry opened #349 "WCAG 2.1 - add data option & filter for 2.1"
[From Glenda](https://lists.w3.org/Archives/Public/wai-eo-editors/2019Feb/0001.html)

[2019-02-27 16:07] slhenry opened #350 "Update EU reference to WCAG 2.1 (based on updates to EN 301 549)"
-- after https://github.com/w3c/wai-policies-prototype/issues/349

[From Glenda](https://lists.w3.org/Archives/Public/wai-eo-editors/2019Feb/0001.html)

[2019-02-27 16:08] yatil commented on #349
When WCAG 2.1 is used by the data, it is automatically in the filters, so this issue will be resolved when we resolve #344

[2019-02-27 16:08] yatil commented on #350
Duplicate with #344

[2019-02-27 16:08] #350 closed

[2019-02-27 16:11] slhenry commented on #349
WCAG 2.1 is not an option in the [submission form](https://www.w3.org/WAI/policies/submission/).

[2019-02-27 16:16] #349 closed

[2019-02-27 16:16] yatil commented on #349
I added it.

[2019-03-11 06:20] AndrewArch commented on #348
Will catch up with Makoto during CSUN to clarify

[2019-03-12 00:21] slhenry opened #351 "consider table heading "WCAG Version Used" -> "WCAG Version Based On""
from EOWG F2F March 2019

[2019-03-12 23:04] iamjolly commented on #347
EOWG F2F meeting to review: Added label for "complex" only because this amounts to four separate updates.

[2019-03-12 23:10] iamjolly commented on #347
Assigned to @AndrewArch to split into distinct issues for content update process.

[2019-03-12 23:11] #351 closed

[2019-03-12 23:11] yatil opened #353 "Add Korea"
@goodwitch in #347

I think there are additional countries/laws/policies that could be added to this list, based on info I'm seeing in this article.   https://sitemorse.com/news/2018/05/08/guide-digital-accessibility-legislation-around-world/

New countries/laws/policies to add include:
- Korea - Welfare of Persons with Disabilities

And thank you so much for creating and maintaining this list!

[2019-03-12 23:12] yatil opened #354 "Add Canada (Ontario)"
@goodwitch in #347

I think there are additional countries/laws/policies that could be added to this list, based on info I'm seeing in this article.   https://sitemorse.com/news/2018/05/08/guide-digital-accessibility-legislation-around-world/

New countries/laws/policies to add include:
- Canada (Ontario) - AODA

And thank you so much for creating and maintaining this list!

[2019-03-12 23:13] yatil opened #355 "Add Canada (Quebec)"
@goodwitch in #347

I think there are additional countries/laws/policies that could be added to this list, based on info I'm seeing in this article.   https://sitemorse.com/news/2018/05/08/guide-digital-accessibility-legislation-around-world/

New countries/laws/policies to add include:
- Canada (Quebec) - SGQRI 008

And thank you so much for creating and maintaining this list!

[2019-03-12 23:14] yatil opened #356 "Add Spain"
@goodwitch in #347

I think there are additional countries/laws/policies that could be added to this list, based on info I'm seeing in this article.   https://sitemorse.com/news/2018/05/08/guide-digital-accessibility-legislation-around-world/

New countries/laws/policies to add include:
- Spain - Law 34/2002, Law 51/2003

And thank you so much for creating and maintaining this list!

[2019-03-12 23:17] AndrewArch commented on #340
clarify on submission form that we only want resources from agency responsible for law

[2019-03-12 23:18] iamjolly commented on #341
JSON file (txt, but is JSON format) containing US States’ policies and links:
[us-states-policies.json.txt](https://github.com/w3c/wai-policies-prototype/files/2959106/us-states-policies.json.txt)

[2019-03-12 23:18] iamjolly commented on #342
JSON file (txt, but is JSON format) containing US States’ policies and links:
[us-states-policies.json.txt](https://github.com/w3c/wai-policies-prototype/files/2959106/us-states-policies.json.txt)

[2019-03-12 23:26] yatil opened #357 "Add “Do not send links to paywalls if possible” to submission form"

[2019-03-12 23:26] AndrewArch commented on #338
@slknows someone who knows someone ...

[2019-03-12 23:26] iamjolly commented on #338
Assigned to @slhenry to confirm Russian Federation info from her contact.

[2019-03-12 23:29] yatil opened #358 "Add Argentina"
Found this in [Chaals tweet](https://twitter.com/chaals/status/987040290224549889):

All information in Spanish:

* Latin America (specifically: Argentina, Brasil, Colombia, El Salvador, Perú, Puerto Rico): http://sidar.org/recur/direc/legis/latino.php

Maybe there is some information we can gather from there.

From #333

[2019-03-12 23:30] yatil opened #359 "Add Brasil"
Found this in [Chaals tweet](https://twitter.com/chaals/status/987040290224549889):

All information in Spanish:

* Latin America (specifically: Argentina, Brasil, Colombia, El Salvador, Perú, Puerto Rico): http://sidar.org/recur/direc/legis/latino.php

Maybe there is some information we can gather from there.

From #333

[2019-03-12 23:31] yatil opened #360 "Add Colombia"
Found this in [Chaals tweet](https://twitter.com/chaals/status/987040290224549889):

All information in Spanish:

* Latin America (specifically: Argentina, Brasil, Colombia, El Salvador, Perú, Puerto Rico): http://sidar.org/recur/direc/legis/latino.php

Maybe there is some information we can gather from there.

From #333

[2019-03-12 23:31] yatil opened #361 "Add El Salvador"
Found this in [Chaals tweet](https://twitter.com/chaals/status/987040290224549889):

All information in Spanish:

* Latin America (specifically: Argentina, Brasil, Colombia, El Salvador, Perú, Puerto Rico): http://sidar.org/recur/direc/legis/latino.php

Maybe there is some information we can gather from there.

From #333

[2019-03-12 23:31] yatil opened #362 "Add Perú"
Found this in [Chaals tweet](https://twitter.com/chaals/status/987040290224549889):

All information in Spanish:

* Latin America (specifically: Argentina, Brasil, Colombia, El Salvador, Perú, Puerto Rico): http://sidar.org/recur/direc/legis/latino.php

Maybe there is some information we can gather from there.

From #333

[2019-03-12 23:32] yatil opened #363 "Add Puerto Rico"
Found this in [Chaals tweet](https://twitter.com/chaals/status/987040290224549889):

All information in Spanish:

* Latin America (specifically: Argentina, Brasil, Colombia, El Salvador, Perú, Puerto Rico): http://sidar.org/recur/direc/legis/latino.php

Maybe there is some information we can gather from there.

From #333

[2019-03-12 23:33] yatil commented on #320
Closing addressed with redesign/translations :-D

[2019-03-12 23:33] #320 closed

[2019-03-12 23:34] iamjolly commented on #301
Question is: Do we need to have a separate announcement list for Policies updates?

[2019-03-12 23:39] iamjolly commented on #296
F2F meeting notes: We will note "in progress" but we will not monitor or update the progress unless we are advised of changes (up to editors’ discretion)

[2019-03-12 23:39] #296 closed

[2019-03-12 23:40] iamjolly commented on #295
This is no longer an issue due to our minimum requirements for inclusion in the resource.

[2019-03-12 23:40] #295 closed

[2019-03-12 23:42] iamjolly commented on #288
@AndrewArch will verify this with a colleague

[2019-03-12 23:43] iamjolly commented on #288
This may be done. Let's confirm. Yep. I forgot. It is live. I feel embarrassed.

[2019-03-12 23:43] #288 closed

[2019-03-12 23:45] iamjolly commented on #285
Done. Closing. Mechanism is in place now. New issues can be open if changes are needed

[2019-03-12 23:46] iamjolly commented on #285
Reopening :: @yatil to push mechanism into `master`

[2019-03-12 23:52] yatil opened #364 "Add “Submissions welcome” text to “States and Territories without data:” heading"
Related to #285

[2019-03-12 23:53] iamjolly commented on #284
Per F2F meeting comments, we want to avoid using the term "derivative" and use a term like "based on". Closing issue due to that.

[2019-03-12 23:53] #284 closed

[2019-03-12 23:57] iamjolly commented on #246
Let's ensure this is added when the states/provinces mechanism is published @AndrewArch

[2019-03-13 00:01] iamjolly commented on #223
Design discussion needed to address table layout issues and ability to filter content by region.

Ideas include a different landing page for the summary listings as well as using a card-style interface for either countries or policies.

[2019-03-13 00:06] iamjolly commented on #180
This should be ready to go live once our States/Provinces mechanism is published

[2019-03-13 00:09] iamjolly commented on #42
Consensus at F2F is to close this for now and can open a new issue if there is good reason for this feature.

[2019-03-13 00:09] #42 closed

[2019-03-13 19:20] eogitbot opened #365 "New Entry for State of Alaska in the United States"
New Entry for United States

Submitted by [Amy Carney](mailto:amy.carney@alaska.gov):

[code]

[2019-03-13 21:01] iamjolly commented on #365
@AndrewArch - This one just came in for Alaska from Amy Carney with the State of Alaska (amy.carney@alaska.gov). She is available for any clarifying questions to help us get this info published. Note: we do NOT have in the JSON file that was uploaded yesterday.

[2019-03-29 16:00] eogitbot opened #366 "New Entry for Uzbekistan"
New Entry for Uzbekistan

Submitted by [Robert Jolly](mailto:robert@knowbility.org):

[code]

[2019-03-29 16:01] iamjolly commented on #366
Was just demoing this for someone. :)

[2019-03-29 16:01] #366 closed

[2019-03-29 16:03] iamjolly opened #367 "Use new design for issue submissions for policies"
![The submission.php page uses the old design.](https://user-images.githubusercontent.com/1093423/55245943-cf714100-5209-11e9-97ea-284bf5164345.png)

[2019-03-29 21:38] yatil commented on #367
The URL is wrong… Unsure of how that happens. Good catch.

[2019-05-20 15:26] eogitbot opened #368 "New Entry for Argentina"
New Entry for Argentina

Submitted by [Fernando Petrone](mailto:fapetrone@gmail.com):

[code]

[2019-05-22 17:29] ww11sargentbeam opened #369 "[] ww11sargentbeam"
Hello. I filed the claim, I am not technically capable. I have tryied for help.Not sure about files. I just know I feel as if our family was used and I have ask. for help. No response.                    If you know nothing about this please overlook.   Thank you- Janet m Golden

[2019-05-22 18:19] #369 closed

[2019-06-24 18:31] eogitbot opened #371 "New Entry for Colombia"
New Entry for Colombia

Submitted by [Juan David Saab](mailto:juansaabvanegas@gmail.com):

[code]

[2019-06-30 09:41] ww11sargentbeam opened #372 "[]"
Sorry , I believe I already sent this to you    If not tmgjmg911@gmail.com

[2019-06-30 09:50] yatil commented on #372
@ww11sargentbeam I don’t know what this is about.

[2019-06-30 09:50] #372 closed

[2019-07-12 08:40] yatil commented on #360
Probably superseded by #371

[2019-07-22 21:08] eogitbot opened #373 "New Entry for Russia"
New Entry for Russia

Submitted by [Eugene Altovsky](mailto:pr@ifap.ru):

[code]

[2019-08-11 18:03] yatil commented on #344
Additional info on EU law: https://tetralogical.com/articles/public-sector-accessibility-regulations

Hope we can get this going…

[2019-09-16 11:43] AndrewArch commented on #373
Followed up with Eugene recently to learn that the PDF is not the official document but was provided as the official document is a JPEG. Eugene advised:
- The official document is at http://protect.gost.ru/v.aspx?control=8&id=176157. Apparently Rosstandard publish national standards (GOSTs) free only in graphic format with some download-protection.
- it was released Nov 29, 2012 but came in force

[2019-09-17 11:20] AndrewArch commented on #373
- clarification provided "distinctly based on WCAG 2.0 in general and contains direct and clear references to WCAG" and also "contains supplementary reference on some examples of accesibility software and extract from US Section 508"
- Eugene advises "All Russian legislation, normative documents, etc. including
governmental standards, are copyright-free. That includes the right to make
a derivativ

[2019-09-17 13:46] yatil commented on #373
@AndrewArch Do you feel you can do the changes and send in a Pull Request? (I can set one up with Eugene’s data as a basis, if you want.)